.sidebar-left label {
    display: block;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}

.input-block + .input-block {
    margin-top: 3px;
}

.dropdown {
    width:200px;
}

.dropdown-left {
    top:15px;
}

.dropdown .dropdown-item {
    padding:5px 15px;
}

.sum {
    background:#f2f5f8;
}