<div>
    <div class="pt-15">
        <div class="col-4">
            <div class="user-box">
                <div class="panel border-white">
                    <div class="panel-header">
                        <h2>New Leads</h2>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="user-box">
                <div class="panel border-white">
                    <div class="panel-header">
                        <h2>New Accounts</h2>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="user-box">
                <div class="panel border-white">
                    <div class="panel-header">
                        <h2>Last View</h2>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="task">
                <div class="panel border-white">
                    <div class="panel-header">
                        <h2>Open Activity</h2>
                        <div class="action">
                            <button class="btn btn-xs btn-circle" routerLink="/tasks">View All</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table class="table-full table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Subject</th>
                                        <th>Due</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let activity of activities">
                                        <td class="text-red cursor-pointer" routerLink="/task">{{activity.subject}}</td>
                                        <td>{{activity.due}}</td>
                                        <td>
                                            <span class="text-green">{{activity.leadName}}</span>
                                            <span class="text-blue">{{activity.accountName}}</span>
                                        </td>
                                        <td>{{activity.status}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <div class="col-8">

        </div>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix mb-80"></div>
    <app-tab></app-tab>
    <app-checkbox-radio></app-checkbox-radio>
    <app-button></app-button>
    <app-input></app-input>
    <app-input-line></app-input-line>
    <app-select></app-select>
    <app-select-line></app-select-line>
    <app-dropdown></app-dropdown>
    <app-panel></app-panel>
    <div class="panel border-red">
        <div class="panel-header">
        </div>
        <div class="panel-body">
            <app-drag-drop></app-drag-drop>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>