<div>
    <app-tab></app-tab>
    <app-checkbox-radio></app-checkbox-radio>
    <app-button></app-button>
    <app-input></app-input>
    <app-input-line></app-input-line>
    <app-select></app-select>
    <app-select-line></app-select-line>
    <app-dropdown></app-dropdown>
    <app-panel></app-panel>
    <div class="panel border-red">
        <div class="panel-header">
        </div>
        <div class="panel-body">
            <app-drag-drop></app-drag-drop>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>