
.dashboard-left {
    position: fixed;
    display: inline-block;
    left:15px;
    top:60px;
    width:490px;
}

.dashboard-right {
    margin-left:470px;
    min-height: 80vh;
}

.panel.border-grey {
    /* border-top:3px solid #8e8e8e; */
}

.bg-grey {
    color:#f2f5f8;
}

.client-box {
    display:inline-block;
    width:140px;
    margin-right: 8px;    
}

.client-box .panel .panel-header h2 {
    font-size: 14px;
}

.client-box .clients {
    margin:10px -15px;    
}

.client-box .clients .client {
    padding:3px 15px;
    cursor: pointer;
}

/* .client-box .clients .client:hover {
    background:#f2f5f8;
} */

.hover-green:hover {
    background:#E8F5E9;
}

.hover-blue:hover {
    background:#E3F2FD;
}

.task {
    width:443px;    
}

.task td {
    padding:5px 15px;
}
.dashboard-right .row {
    margin:0 -8px;
}
.dashboard-right .col-4 {
    padding-left:8px;
    padding-right:8px;
}

.text-color {
    color:#96a4b3;
}

.mb-3 {
    margin-bottom: 3px;
}

.dropdown .folder {
    padding:5px 15px 3px;
    font-weight: 700;
    cursor: pointer;
}

.dropdown .dashboard {
    padding:3px 15px 3px 26px;
    cursor: pointer;
}

.dropdown .dashboard:hover {
    background:#4e4e4e;
    color:#f2f5f8;
}
