.layout-header {
    position: fixed;
    z-index: 10;
    width:100%;
    height:44px;
    background:#1b1e24;
    color:#f2f5f8;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);    
}
.layout-header .logo {
    position: absolute;
    left:15px;
    top:12px;
    font-size:18px;
}

.layout-header .nav {
    display: inline-block;
    margin-left:180px;
}

.layout-header .nav li {
    padding:15px;
    line-height: 14px;
    font-size:12px;
    cursor: pointer;
}

.layout-header .nav li:focus {
    outline-color: transparent;
}

.layout-header .nav li:hover {
    background:#4e4e4e;
}

.layout-header .action {
    position: absolute;
    right:0;
    top:0;
}

.layout-header .action .option {
    display: inline-block;
    padding:14px;
    cursor: pointer; 
    position: relative;
}

.layout-header .action .option input {
    border:0px;
    border-bottom: 1px solid #4e4e4e;
    background:transparent;
    color:#f2f5f8;
    padding-right:15px;
    transition: all 0.3s;
}
.layout-header .action .option input:focus {
    outline: 0;
    border-bottom: 1px solid #f2f5f8;
}

.layout-header .action .option .search {
    position: relative;
}
.layout-header .action .option .search i {
    position: absolute;
    right:0;
    bottom:5px;
    cursor: pointer;
    transition: all 0.3s;
}
.layout-header .action .option .search i:hover {
    font-size: 16px;
    bottom:3px;
}

.layout-header .action .option .dropdown {
    background:#fff;
    color:#4e4e4e;
    position: absolute;
    width:160px;
    top:40px;
    right:0;
    padding:5px 0;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    display:none;
}
.layout-header .action .option:hover .dropdown {
    display: block;
}

.layout-header .action .option .dropdown .dropdown-item {
    padding:8px 15px;
}
.layout-header .action .option .dropdown .dropdown-item:hover {
    background:#4e4e4e;
    color:#f2f5f8;
}

.layout-header .action .option .dropdown:before {
    content:"";
    width:0;
    height:0;
    display: block;
    position: absolute;
    top:-6px;
    right:12px;
    border-bottom:6px solid #FFFFFF;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
}
.layout-header .action .option.language>img {
    width:20px;
}

.layout-header .action .option.language .dropdown {
    position: absolute;
    top:45px;
    width:auto;
}

.layout-header .action .option.language .dropdown:before {
    right:19px;
}

.layout-header .action .option.language .dropdown img {
    display: inline-block;
    padding-top: 5px;
    width:20px;
}




