<div class="panel">
  <div class="panel-header">
    <h2>.dropdown-box .dropdown .dropdown-item</h2>
    <small>hover to show the dropdown list or use .dropdown-box.in with click event</small>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-6" style="min-height:120px;">
        <h2>.dropdown.dropdown-right</h2>
        <span class="dropdown-box">
          <button class="btn">.dropdown.dropdown-right</button>
          <div class="dropdown dropdown-right">
            <div class="dropdown-item">Setting 1</div>
            <div class="dropdown-item">Setting 2</div>
          </div>
        </span>
        <span class="dropdown-box ml-15">
          <a class="btn btn-icon">
            <i class="icon fa fa-caret-down"></i>
          </a>
          <div class="dropdown dropdown-right">
            <div class="dropdown-item">Setting 1</div>
            <div class="dropdown-item">Setting 2</div>
          </div>
        </span>
        <h2>.dropdown.dropdown-up-right</h2>
        <span class="dropdown-box">
          <button class="btn">.dropdown.dropdown-up-right</button>
          <div class="dropdown dropdown-up-right">
            <div class="dropdown-item">Setting 1</div>
            <div class="dropdown-item">Setting 2</div>
          </div>
        </span>
        <span class="dropdown-box ml-15">
          <a class="btn btn-icon">
            <i class="icon fa fa-caret-up"></i>
          </a>
          <div class="dropdown dropdown-up-right">
            <div class="dropdown-item">Setting 1</div>
            <div class="dropdown-item">Setting 2</div>
          </div>
        </span>
      </div>
      <div class="col-6">
        <h2>.dropdown.dropdown-left</h2>
        <span class="dropdown-box">
          <button class="btn">.dropdown.dropdown-left</button>
          <div class="dropdown dropdown-left">
            <div class="dropdown-item">Setting 1</div>
            <div class="dropdown-item">Setting 2</div>
          </div>
        </span>
        <span class="dropdown-box ml-15">
          <a class="btn btn-icon">
            <i class="icon fa fa-caret-down"></i>
          </a>
          <div class="dropdown dropdown-left">
            <div class="dropdown-item">Setting 1</div>
            <div class="dropdown-item">Setting 2</div>
          </div>
        </span>
        <h2>.dropdown.dropdown-up-left</h2>
        <span class="dropdown-box">
          <button class="btn">.dropdown.dropdown-up-left</button>
          <div class="dropdown dropdown-up-left">
            <div class="dropdown-item">Setting 1</div>
            <div class="dropdown-item">Setting 2</div>
          </div>
        </span>
        <span class="dropdown-box ml-15">
          <a class="btn btn-icon">
            <i class="icon fa fa-caret-up"></i>
          </a>
          <div class="dropdown dropdown-up-left">
            <div class="dropdown-item">Setting 1</div>
            <div class="dropdown-item">Setting 2</div>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="panel-footer">

  </div>
</div>