<div>
  <h3 class="mtb-10">
    <span>View</span>
    <span class="input-line-group">
      <select class="select-line" [(ngModel)]="viewId" (change)="changeView()">
        <option [ngValue]="view.id" *ngFor="let view of viewLists">{{view.text}}</option>
      </select>
      <span class="underline"></span>
    </span>
    <span class="pull-right">
      <button class="btn btn-sm" [routerLink]="['/leads/view-detail',viewId]">Edit</button>
      <button class="btn btn-sm" [routerLink]="['/leads/view-detail',0]">Create New View</button>
    </span>
  </h3>
  <div class="panel border-green">
    <div class="panel-header">
      <div class="groupcentrol">
        <button class="btn btn-xs btn-green btn-circle" (click)="popupShow=true">
          <i class="fa fa-edit"></i> Mass Update</button>
        <button class="btn btn-xs btn-green btn-circle" (click)="warning=true">
          <i class="fa fa-trash-alt"></i> Mass Delete</button>
      </div>
      <div class="action">
        <button class="btn btn-xs btn-green btn-circle" [routerLink]="['/leads/lead-detail',0]">New Leads</button>
      </div>
    </div>
    <div class="panel-body">
      <div class="mlr-n15">
        <table class="table-full table-striped table-hover">
          <thead>
            <tr>
              <th>
                <div class="checkbox checkbox-green">
                  <input type="checkbox" (change)="selectAll()" [(ngModel)]="selectedAll">
                  <label></label>
                </div>
              </th>
              <th></th>
              <th *ngFor="let field of fields" [class.active]="sortBy==field.text" (click)="sort(field.text)">
                {{field.text}}
                <span *ngIf="sortBy==field.text">
                  <i class="fa fa-arrow-circle-down ml-5" *ngIf="sortDecrease"></i>
                  <i class="fa fa-arrow-circle-up ml-5" *ngIf="!sortDecrease"></i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let json of Json">
              <td>
                <div class="checkbox checkbox-green">
                  <input type="checkbox" [(ngModel)]="json.checked" (change)="chooseUser()">
                  <label></label>
                </div>
              </td>
              <td>
                <!-- <i class="fa fa-edit pr-5 text-green" [routerLink]="['/leads/lead-detail',json.leadid]"></i> -->
                <i class="fa fa-trash-alt"></i>
              </td>
              <td *ngFor="let key of fields">
                <span *ngIf="key.jsonKey === 'name'||key.jsonKey === 'email'" [routerLink]="['/leads/lead-detail',json.leadid]" class="text-green cursor-pointer">
                  {{json[key.jsonKey]}}
                </span>
                <span *ngIf="key.jsonKey !== 'name' && key.jsonKey !== 'email'">
                  {{json[key.jsonKey]}}
                </span>
              </td>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
    </div>
  </div>
  <!-- pagination -->
  <div class="pagination-side pagination-side-green">
    <ul class="pull-right">
      <li (click)="paginationInit(totalPage,1)">
        <a>
          <i class="fa fa-angle-double-up"></i>
        </a>
      </li>
      <li *ngFor="let no of pageNos" [class.active]="no === currentPage" (click)="paginationInit(totalPage,no)">
        <a>{{no}}</a>
      </li>
      <li (click)="paginationInit(totalPage,totalPage)">
        <a>
          <i class="fa fa-angle-double-down"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="pagination-side-text">
    <div class="content" [class.hide]="!paginationTextShow">
      <div>
        <span class="text"> {{startNo}} - {{endNo}} / {{totalNo}}</span>
      </div>
      <div>
        <span class="text">{{selectedNo}} Selected</span>
      </div>
      <div>
        <span class="text">
          <select name="" id="" class="select select-xs select-dark" [(ngModel)]="perPage">
            <option *ngFor="let option of pageOption" [ngValue]="option">{{option}}</option>
          </select>
          <span>Total Page: {{totalPage}}</span>
        </span>
      </div>
    </div>
    <div class="handle">
      <a class="btn btn-icon btn-green btn-shadow" (click)="paginationTextShow=false" *ngIf="paginationTextShow">
        <i class="icon fa fa-times"></i>
      </a>
      <a class="btn btn-icon btn-green btn-shadow" (click)="paginationTextShow=true" *ngIf="!paginationTextShow">
        <i class="icon fa fa-info"></i>
      </a>
    </div>
  </div>
  <!-- popup -->
  <div class="popup popup-transparent" *ngIf="popupShow">
    <div class="popup-content">
      <div class="popup-box">
        <div class="popup-header">
          <h2 class="title">Mass Update</h2>
          <span class="action">
            <a class="btn btn-icon btn-green">
              <i class="icon fa fa-save"></i>
            </a>
            <a class="btn btn-icon">
              <i class="icon fa fa-times" (click)="popupShow= false"></i>
            </a>
          </span>
        </div>
        <div class="popup-body">
          <div class="row">
            <div class="col-3 text-right">Select Field</div>
            <div class="col-9">
              <select name="" id="" class="select select-sm input-block" [(ngModel)]="fieldIndex">
                <option *ngFor="let field of fields; index as i" [ngValue]="i">{{field.text}}</option>
              </select>
            </div>
            <div class="clearfix p-5"></div>
            <div *ngIf="fieldIndex">
              <div class="col-3 text-right">{{fields[fieldIndex].text}}</div>
              <div class="col-9">
                <span *ngIf="fields[fieldIndex].type=='input'">
                  <input class="input input-sm input-block" type="text">
                </span>
                <span *ngIf="fields[fieldIndex].type=='option'">
                  <select name="" id="" class="select select-sm input-block">
                    <option value="" *ngFor="let option of fields[fieldIndex].option">{{option}}</option>
                  </select>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup popup-warning" *ngIf="warning">
    <div class="popup-content">
      <div class="popup-box">
        <div class="popup-header">
          <h2 class="title">Warning</h2>
          <span class="action">
            <a class="btn btn-icon">
              <i class="icon fa fa-times" (click)="warning=false"></i>
            </a>
          </span>
        </div>
        <div class="popup-body">
          <h2>Once deleted, cannot be retrived.</h2>
          <div class="mt-15">
            <button class="btn btn-red">
              <i class="icon fa fa-trash-alt"></i> Delete</button>
            <button class="btn" (click)="warning=false">
              <i class="icon fa fa-times"></i> Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>