<div class="mlr-n15">
  <table class="table-full table-striped">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>Action</th>
      <th>Name</th>
      <th>State/Province</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Lead Status</th>
      <th>Created Date</th>
      <th>Account Manager</th>
      <th>Lead Type</th>
      <th>Agent</th>
      <th>Created By</th>
      <th>Live Suffix</th>
      <th>Demo Suffix</th>
      <th>Gauge</th>
    </tr>
  </thead>
  <tbody>    
    <tr>
      <td><input type="checkbox"></td>
      <td><i class="fa fa-edit pr-5"></i><i class="fa fa-trash"></i></td>
      <td>Jimmy</td>
      <td>Sydney</td>
      <td>China</td>
      <td>15800000000</td>
      <td>Jimmy@acy.com</td>
      <td>Unqualified</td>
      <td>12/09/2017</td>
      <td>Renee</td>
      <td>Live Application</td>
      <td>2578</td>
      <td>Operator</td>
      <td>1234</td>
      <td><select name="" id="">
          <option value="">all</option>
          <option value="">djflksdjf</option>
        </select></td>
      <td>Medium</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td></td>
      <td>Jimmy</td>
      <td>Sydney</td>
      <td>China</td>
      <td>15800000000</td>
      <td>Jimmy@acy.com</td>
      <td>Unqualified</td>
      <td>12/09/2017</td>
      <td>Renee</td>
      <td>Live Application</td>
      <td>2578</td>
      <td>Operator</td>
      <td>1234</td>
      <td><select name="" id="">
          <option value="">all</option>
          <option value="">djflksdjf</option>
        </select></td>
      <td>Medium</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td></td>
      <td>Jimmy</td>
      <td>Sydney</td>
      <td>China</td>
      <td>15800000000</td>
      <td>Jimmy@acy.com</td>
      <td>Unqualified</td>
      <td>12/09/2017</td>
      <td>Renee</td>
      <td>Live Application</td>
      <td>2578</td>
      <td>Operator</td>
      <td>1234</td>
      <td>
      </td>
      <td>Medium</td>
    </tr>
  </tbody>
</table>
</div>

<div class="pagination">
  <div>Showing 1 to 10 of 57 entries</div>
  <ul>
    <li class="arrow"><a>«</a></li>
    <li class="active"><a>1</a></li>
    <li><a>2</a></li>
    <li><a>3</a></li>
    <li><a>4</a></li>
    <li><a>5</a></li>
    <li class="arrow"><a>»</a></li>
  </ul>
</div>
