<div class="panel">
  <div class="panel-header">
    <h2>.select-line</h2>
  </div>
  <div class="panel-body">
    <div>
      <h2>.input-line-group > .select-line + .underline</h2>
      <span class="input-line-group">
        <label for="">Label</label>
        <select name="" id="" class="select-line">
          <option value="">.select-line</option>
          <option value="">option 2</option>
          <option value="">option 3</option>
        </select>
        <span class="underline"></span>
      </span>
      <span class="input-line-group">
        <input type="text" class="input-line">
        <span class="underline"></span>
      </span>
    </div>
  </div>
</div>