<div class="panel">
  <div class="panel-header">
    <h2>.input-line</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-6">
        <div>
          <h2>.input-line-group > .input-line + .underline</h2>
          <span class="input-line-group">
            <input type="text" class="input-line">
            <span class="underline"></span>
          </span>
          <span>Use input and label to control input and underline style</span>
        </div>
        <div>
          <h2>.input-line-group > .input-line + label.underline</h2>
          <span class="input-line-group">
            <input type="text" class="input-line">
            <label class="underline">Label</label>
          </span>
          <span>Use .underline as Label</span>
        </div>
        <div>
          <h2>.input-line-group > .input-line onkeyup + label.underline</h2>
          <span class="input-line-group">
            <input type="text" class="input-line" onkeyup="this.setAttribute('value', this.value);" value="">
            <label class="underline">Label</label>
          </span>
        </div>
        <div>
          <h2>.input-line.input-block</h2>
          <span class="input-line-group" style="width:100%">
            <input type="text" class="input-line input-block">
            <label class="underline">Label</label>
          </span>
          <div class="clearfix p-5"></div>
          <span class="input-line-group" style="width:100%">
            <input type="text" class="input-line  input-block" onkeyup="this.setAttribute('value', this.value);" value="">
            <label class="underline">Label</label>
          </span>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-6">
          <h2>.input-line.input-line-color</h2>
          <span class="input-line-group mb-10">
              <input type="text" class="input-line input-line-red" onkeyup="this.setAttribute('value', this.value);" value="">
              <span class="underline">.input-line-red</span>
          </span>
          <span class="input-line-group mb-10">
              <input type="text" class="input-line input-line-orange" onkeyup="this.setAttribute('value', this.value);" value="">
              <span class="underline">.input-line-orange</span>
          </span>
          <span class="input-line-group mb-10">
              <input type="text" class="input-line input-line-yellow" onkeyup="this.setAttribute('value', this.value);" value="">
              <span class="underline">.input-line-yellow</span>
          </span>
          <span class="input-line-group mb-10">
              <input type="text" class="input-line input-line-lightgreen" onkeyup="this.setAttribute('value', this.value);" value="">
              <span class="underline">.input-line-lightgreen</span>
          </span>
          <span class="input-line-group mb-10">
              <input type="text" class="input-line input-line-green" onkeyup="this.setAttribute('value', this.value);" value="">
              <span class="underline">.input-line-green</span>
          </span>
          <span class="input-line-group mb-10">
              <input type="text" class="input-line input-line-lightblue" onkeyup="this.setAttribute('value', this.value);" value="">
              <span class="underline">.input-line-lightblue</span>
          </span>
          <span class="input-line-group mb-10">
              <input type="text" class="input-line input-line-blue" onkeyup="this.setAttribute('value', this.value);" value="">
              <span class="underline">.input-line-blue</span>
          </span>
          <span class="input-line-group mb-10">
              <input type="text" class="input-line input-line-purple" onkeyup="this.setAttribute('value', this.value);" value="">
              <span class="underline">.input-line-purple</span>
          </span>
      </div>
    </div>

  </div>
</div>