<div class="with-sidebar-right">
  <div class="panel border-orange">
    <div class="panel-header">
      <div class="action">
        <button class="btn btn-xs btn-orange btn-circle">New Leads</button>
        <button class="btn btn-xs btn-orange btn-circle">Change Status</button>
        <button class="btn btn-xs btn-orange btn-circle">Add to Campaign</button>
        <button class="btn btn-xs btn-orange btn-circle">Mass Update</button>
        <button class="btn btn-xs btn-orange btn-circle">Mass Delete</button>
      </div>
    </div>
    <div class="panel-body">
      <app-drag-drop></app-drag-drop>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>
<div class="sidebar-right">
  <app-sidebar-right></app-sidebar-right>
</div>