<div class="clearfix-"></div>
<span class="pull-right">
  <button class="btn btn-orange">
    <i class="fa fa-share-square"></i> Send</button>
  <button class="btn">
    <i class="fa fa-trash-alt"></i> Discard</button>
</span>
<h2 class="mb-5 mt-10">New Email</h2>
<div class="panel">
  <div class="panel-body">
    <div class="from-to">
      <div class="label">
        <label>To:</label>
      </div>
      <div class="input-line-group">
        <input type="text" class="input-line input-block">
        <span class="underline"></span>
      </div>
    </div>
    <div class="from-to">
      <div class="label">
        <label>Cc:</label>
      </div>
      <div class="input-line-group">
        <input type="text" class="input-line input-block">
        <span class="underline"></span>
      </div>
    </div>
    <div class="from-to">
      <div class="label">
        <label>Bcc:</label>
      </div>
      <div class="input-line-group">
        <input type="text" class="input-line input-block">
        <span class="underline"></span>
      </div>
    </div>
    <div class="from-to">
      <div class="label">
        <label>Subject:</label>
      </div>
      <div class="input-line-group">
        <input type="text" class="input-line input-block">
        <span class="underline"></span>
      </div>
    </div>
    <div class="dropbox dropbox-edit">
      <div class="dropbox-heading">
        <button class="btn btn-orange btn-sm" (click)="popupShow=true">
          <i class="fa fa-download"></i> Use Template
        </button>
        <span class="multi-upload">
          <button class="btn btn-orange btn-sm">
            <i class="fa fa-paperclip"></i> Attachment</button>
          <input type="file" multiple="true" (change)="attach($event)" class="btn">
        </span>
        <div class="mt-10" *ngIf="attachments.length">
          <span *ngFor="let attachment of attachments; index as i" class="btn mr-5 btn-xs btn-circle btn-white btn-shadow">
            <i class="fa fa-paperclip"></i>
            {{attachment}}
            <i class="fa fa-times ml-5" (click)="deleteAttachment(i)"></i>
          </span>
        </div>
      </div>
      <textarea name="" id="" rows="20" class="input-block"></textarea>
    </div>
    <div class="clearfix m-20"></div>
  </div>
</div>
<div class="popup popup-transparent" *ngIf="popupShow">
  <div class="popup-content">
    <div class="popup-box">
      <div class="popup-header">
        <h2 class="title">Choose Template</h2>
        <span class="action">
          <a class="btn btn-icon btn-orange">
            <i class="icon fa fa-save"></i>
          </a>
          <a class="btn btn-icon">
            <i class="icon fa fa-times" (click)="popupShow = false"></i>
          </a>
        </span>
      </div>
      <div class="popup-body">

        <div class="mb-10">
          <div class="mb-10 text-b">
            <label for="">Select Folders</label>
          </div>
          <select id="" class="select input-block" [(ngModel)]="selectFolder">
            <option *ngFor="let folder of folders" [ngValue]="folder.templates">{{folder.name}}</option>
          </select>
        </div>
        <div *ngIf="selectFolder.length">
          <table class="table-full table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let template of selectFolder">
                <td>{{template.name}}</td>
                <td>{{template.description}}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-red mt-10">
            Double click to choose template.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>