<setup-nav></setup-nav>
<div class="with-sidebar-left with-sidebar-right" (mousemove)="mouseMove($event)">
  <div class="panel border-green" *ngIf="object ==='action'||object ==='preview'">
    <div class="panel-header">
      <h2>Tools</h2>
      <div class="action">
      </div>
    </div>
    <div class="panel-body hover-gray" [class.availablearea]="availableArea === 'quickActions'" (mouseup)="addQuickAction('showbox')">
      <div class="mtb-15">
        <span class="box" *ngFor="let action of quickActionSelected; index as i;">
          <button class="btn mr-10 quick-action" (mousedown)="chooseQuickAction(action,'showbox',i)" (mouseenter)="changeTargetQuickAction(i)"
            (mouseleave)="changeTargetQuickAction('-1')">
            {{action.text}}
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="panel border-green" *ngIf="object ==='field'||object ==='preview'">
    <div class="panel-header">
      <h2>Lead Detail</h2>
      <div class="action">
      </div>
    </div>
    <div class="panel-body">
      <app-table-list></app-table-list>
      <div class="clearfix pb-5"></div>
    </div>
  </div>

  <div *ngIf="object ==='module'||object ==='preview'" (mouseup)="addQuickAction('showbox')" [class.availablearea]="availableArea === 'quickActions'"
    class="row">
    <div class="p-15">
      <div class="panel border-green" *ngFor="let action of quickActionSelected; index as i;" (mousedown)="chooseQuickAction(action,'showbox',i)"
        (mouseenter)="changeTargetQuickAction(i)" (mouseleave)="changeTargetQuickAction('-1')">
        <div class="panel-header">
          <h2 class="">{{action.text}}</h2>
        </div>
        <div class="panel-footer"></div>
      </div>
      <div class="clearfix p-30"></div>
    </div>
  </div>
  <div id="drag-item" *ngIf="movingQuickAction">
    <i class="fa fa-arrows-alt pr-5" style="color:#43A047"></i>
    <span id="drag-item-text">{{movingQuickAction.text}}</span>
  </div>

  <div class="sidebar-right">
    <h2>Map</h2>
    <div class="option">
      <div class="mb-5">
        <div class="radio radio-green">
          <input type="radio" value="action" [(ngModel)]="object">
          <label for=""> Tools</label>
        </div>
      </div>
      <div class="mb-5">
        <div class="radio radio-green">
          <input type="radio" value="field" [(ngModel)]="object">
          <label for=""> Fields/Sections</label>
        </div>
      </div>
      <div class="mb-5">
        <div class="radio radio-green">
          <input type="radio" value="module" [(ngModel)]="object">
          <label for=""> Modules</label>
        </div>
      </div>
      <div class="mb-5">
        <div class="radio radio-green">
          <input type="radio" value="preview" [(ngModel)]="object">
          <label for=""> Preview</label>
        </div>
      </div>

    </div>
    <div class="list" *ngIf="object ==='action'" (mouseup)="addQuickAction('list')" [class.availablearea]="availableArea === 'quickActions'">
      <div class="list-item" *ngFor="let action of quickActions; index as i;">
        <button class="btn btn-xs btn-block" [disabled]="action.selected" (mousedown)="chooseQuickAction(action,'list',i)">
          {{action.text}}
        </button>
      </div>
    </div>
    <div class="list" *ngIf="object ==='field'">
      <div class="list-item">
        <button class="btn btn-xs btn-block btn-green">Section</button>
        <button class="btn btn-xs btn-block">Fields</button>
      </div>
      
    </div>

    <div class="list" *ngIf="object ==='module'" (mouseup)="addQuickAction('list')" [class.availablearea]="availableArea === 'quickActions'">
      <div class="list-item" *ngFor="let action of quickActions; index as i;">
        <button class="btn btn-xs btn-block" [disabled]="action.selected" (mousedown)="chooseQuickAction(action,'list',i)">
          {{action.text}}
        </button>
      </div>
    </div>
  </div>



</div>