<div class="panel">
    <div class="panel-header">
        <h2>
            My Open Activity
        </h2>
    </div>
    <div class="panel-body">
        <div class="mt-10 mb-10">
            <select class="select select-sm">
                <option value="">Overdue + Today</option>
                <option value="">Overdue</option>
                <option value="">Today</option>
                <option value="">Tomorrow</option>
                <option value="">This Month</option>
            </select>
        </div>
        <div class="row">

            <table class="table-full table-striped table-hover">
                <thead>
                    <tr>
                        <th width=50>Complete</th>
                        <th>Subject</th>
                        <th>Due</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Created Date</th>
                        <th>Last Activity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let activity of activities">
                        <td class="text-center">
                            <i class="fa fa-times" routerLink="/task"></i>
                        </td>
                        <td class="cursor-pointer" routerLink="/task">{{activity.subject}}</td>
                        <td class="text-red">{{activity.due}}</td>
                        <td>
                          <span [class.text-green]="activity.leadName">{{activity.leadName}}</span>
                          <span [class.text-blue]="activity.accountName">{{activity.accountName}}</span>
                        </td>
                        <td>{{activity.status}}</td>
                        <td>Nomal</td>
                        <td>{{activity.createdDate}}</td>
                        <td>{{activity.lastActivity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="pagination">
            <app-pagination></app-pagination>
        </div>
    </div>
</div>
