<div class="panel">
  <div class="panel-header">
    <h2>Checkbox and Radio</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-6">
        <div class="pt-10">
          <div class="checkbox">
            <input type="checkbox">
            <label>.checkbox> input[type="checkbox"] + label</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" checked>
            <label>.checkbox> input[type="checkbox"] + label</label>
          </div>
          <div class="checkbox checkbox-red">
            <input type="checkbox" checked>
            <label>.checkbox.checkbox-red > input[type="checkbox"] + label</label>
          </div>
          <div class="checkbox checkbox-orange">
            <input type="checkbox" checked>
            <label>.checkbox.checkbox-orange > input[type="checkbox"] + label</label>
          </div>
          <div class="checkbox checkbox-yellow">
            <input type="checkbox" checked>
            <label>.checkbox.checkbox-yellow > input[type="checkbox"] + label</label>
          </div>
          <div class="checkbox checkbox-lightgreen">
            <input type="checkbox" checked>
            <label>.checkbox.checkbox-lightgreen > input[type="checkbox"] + label</label>
          </div>
          <div class="checkbox checkbox-green">
            <input type="checkbox" checked>
            <label>.checkbox.checkbox-green > input[type="checkbox"] + label</label>
          </div>
          <div class="checkbox checkbox-lightblue">
            <input type="checkbox" checked>
            <label>.checkbox.checkbox-lightblue > input[type="checkbox"] + label</label>
          </div>
          <div class="checkbox checkbox-blue">
            <input type="checkbox" checked>
            <label>.checkbox.checkbox-blue > input[type="checkbox"] + label</label>
          </div>
          <div class="checkbox checkbox-purple">
            <input type="checkbox" checked>
            <label>.checkbox.checkbox-purple > input[type="checkbox"] + label</label>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="pt-10">
          <div class="radio">
            <input type="radio" name="radioExample">
            <label for="">.radio>input[typle="radio"] + label</label>
          </div>
          <div class="radio">
            <input type="radio" name="radioExample" checked>
            <label for="">.radio>input[typle="radio"] + label</label>
          </div>
          <div class="radio radio-red">
            <input type="radio" name="radioExample">
            <label for="">.radio.radio-red>input[typle="radio"] + label</label>
          </div>
          <div class="radio radio-orange">
            <input type="radio" name="radioExample">
            <label for="">.radio.radio-orange>input[typle="radio"] + label</label>
          </div>
          <div class="radio radio-yellow">
            <input type="radio" name="radioExample">
            <label for="">.radio.radio-yellow>input[typle="radio"] + label</label>
          </div>
          <div class="radio radio-lightgreen">
            <input type="radio" name="radioExample">
            <label for="">.radio.radio-lightgreen>input[typle="radio"] + label</label>
          </div>
          <div class="radio radio-green">
            <input type="radio" name="radioExample">
            <label for="">.radio.radio-green>input[typle="radio"] + label</label>
          </div>
          <div class="radio radio-lightblue">
            <input type="radio" name="radioExample">
            <label for="">.radio.radio-lightblue>input[typle="radio"] + label</label>
          </div>
          <div class="radio radio-blue">
            <input type="radio" name="radioExample">
            <label for="">.radio.radio-blue>input[typle="radio"] + label</label>
          </div>
          <div class="radio radio-purple">
            <input type="radio" name="radioExample">
            <label for="">.radio.radio-purple>input[typle="radio"] + label</label>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="panel-footer"></div>
</div>