<div class="panel border-orange">
  <div class="panel-header">
    <h2>New Email Template</h2>
    <div class="action">
    </div>
  </div>
  <div class="panel-body">
    <div class="mt-15">
      <div class="display-table">
        <label class="display-tablecell" for="">Folder</label>
        <select name="" id="" class="select display-tablecell input-block">
          <option value="">My Folder 1</option>
        </select>
      </div>
      <div class="display-table">
        <label class="display-tablecell">Email Template Name </label>
        <input class="input display-tablecell input-block" type="text">
      </div>
      <div class="display-table">
        <label class="display-tablecell">Email Template API Name </label>
        <input class="input display-tablecell input-block" type="text">
      </div>
      <div class="display-table">
        <label class="display-tablecell">Description</label>
        <input class="input display-tablecell input-block" type="text">
      </div>
    </div>
    <div class="row">
      <div class="field-select">
        <div class="col-4">
          <div>
            <label for="">Field Information</label>
          </div>
          <div>
            <select name="" id="" class="select input-block">
              <option *ngFor="let item of fieldInformation">{{item}}</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div>
            <label for="">Select Field</label>
          </div>
          <div>
            <select name="" id="" class="select input-block">
              <option *ngFor="let item of selectField">{{item}}</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div>
            <label for="">Field Value</label>
          </div>
          <div>
            <select name="" id="" class="select input-block">
              <option *ngFor="let item of fieldValue">{{item}}</option>
            </select>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="mb-10">
      <div class="dropbox dropbox-edit">
        <div class="dropbox-heading">
          <button class="btn btn-orange btn-sm" (click)="importPopup = true">
            <i class="fa fa-download"></i> Import HTML Template
          </button>
          <button class="btn btn-orange btn-sm" (click)="attachmentPopup = true">
            <i class="fa fa-paperclip"></i> Attachment
          </button>
          <button class="btn btn-orange btn-sm">
            <i class="fa fa-eye"></i> Preview
          </button>
        </div>
        <textarea name="" id="" rows="20" class="input-block"></textarea>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="mb-15">
      <button class="btn btn-orange">
        <i class="fa fa-save"></i> Save
      </button>
      <button class="btn">
        <i class="fa fa-times"></i> Cancel
      </button>
    </div>
  </div>
</div>

<!-- Inport Html Template Popup -->
<div class="popup popup-transparent" *ngIf="importPopup">
  <div class="popup-content">
    <div class="popup-box">
      <div class="popup-header">
        <h2 class="title">Import Template</h2>
        <span class="action">
          <a class="btn btn-icon btn-orange">
            <i class="icon fa fa-save"></i>
          </a>
          <a class="btn btn-icon" (click)="importPopup = false">
            <i class="icon fa fa-times"></i>
          </a>
        </span>
      </div>
      <div class="popup-body">
        <div class="mb-10">Accept .RAR or .ZIP Only</div>
        <div>
          <input type="file" class="">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Attachment Popup -->
<div class="popup popup-transparent" *ngIf="attachmentPopup">
  <div class="popup-content">
    <div class="popup-box">
      <div class="popup-header">
        <h2 class="title">Attch Files</h2>
        <span class="action">
          <a class="btn btn-icon btn-orange">
            <i class="icon fa fa-paperclip"></i>
          </a>
          <a class="btn btn-icon" (click)="attachmentPopup = false">
            <i class="icon fa fa-times"></i>
          </a>
        </span>
      </div>
      <div class="popup-body">
        <div class="row">
          <div class="col-6">
            <h2 class="radio radio-orange">
              <input type="radio" value="cloud" [(ngModel)]="attachmentType">
              <label for=""> Choose Cloud Attachment</label>
            </h2>
          </div>
          <div class="col-6">
            <h2 class="radio radio-orange">
              <input type="radio" value="local" [(ngModel)]="attachmentType">
              <label for=""> Attach File from Local</label>
            </h2>
          </div>
        </div>
        <div class="clearfix m-10"></div>
        <div class="mtb-15" *ngIf="attachmentType==='cloud'">
          <div class="mb-5 text-b">
            <label for="">Choose Folder</label>
          </div>
          <div class="input-line-group w-100p mb-15">
            <select name="" id="" class="select input-block" [(ngModel)]="folderSelected">
              <option *ngFor="let folder of folders" [ngValue]="folder">{{folder}}</option>
            </select>
            <span class="underline"></span>
          </div>
          <table class="table-full table-striped table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th width=30 *ngIf="folderSelected==='My Folder'"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of files[folderSelected]">
                <td>
                  <div class="checkbox checkbox-orange">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>{{file.name}}</td>
                <td>{{file.type}}</td>
                <td>{{file.description}}</td>
                <td class="text-orange" *ngIf="folderSelected==='My Folder'">
                  <i class="fa fa-trash-alt cursor-pointer"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mtb-15" *ngIf="attachmentType==='local'">
          <div class="row">
            <div class="col-3">
              File Name
              <span class="text-red">*</span>
            </div>
            <div class="col-9">
              <input type="text" class="input input-block">
            </div>
            <div class="clearfix mb-10"></div>
            <div class="col-3">
              Choose File
              <span class="text-red">*</span>
            </div>
            <div class="col-9">
              <input type="file" class="input input-block">
            </div>
            <div class="clearfix mb-10"></div>
            <div class="col-3">
              Description
            </div>
            <div class="col-9">
              <textarea class="textarea input-block" cols="30" rows="8"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>