<div>
  <div class="panel border-blue">
    <div class="panel-header">
      <div class="action">
        <button class="btn btn-sm btn-blue btn-circle">New Leads</button>
        <button class="btn btn-sm btn-blue btn-circle">Change Status</button>
        <button class="btn btn-sm btn-blue btn-circle">Add to Campaign</button>
        <button class="btn btn-sm btn-blue btn-circle">Mass Update</button>
        <button class="btn btn-sm btn-blue btn-circle">Mass Delete</button>
      </div>
    </div>
    <div class="panel-body">
      <app-table></app-table>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>