<div class="panel">
  <div class="panel-header">
    <h2>.select</h2>
  </div>
  <div class="panel-body">
    <div>
      <h2>.select</h2>
      <select name="" id="" class="select select-xs">
        <option value="">option 1</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
      <select name="" id="" class="select select-sm">
        <option value="">option 1</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
      <select name="" id="" class="select">
        <option value="">option 1</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
      <select name="" id="" class="select select-lg">
        <option value="">option 1</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
    </div>
    <div>
      <h2>.input-group > .select + .btn</h2>
      <span class="input-group">
        <select name="" id="" class="select select-xs">
          <option value="">option 1</option>
          <option value="">option 2</option>
          <option value="">option 3</option>
        </select><button class="btn btn-xs">.btn</button>
      </span>
      <span class="input-group">
        <select name="" id="" class="select select-sm">
          <option value="">option 1</option>
          <option value="">option 2</option>
          <option value="">option 3</option>
        </select><button class="btn btn-sm">.btn</button>
      </span>
      <span class="input-group">
        <select name="" id="" class="select">
          <option value="">option 1</option>
          <option value="">option 2</option>
          <option value="">option 3</option>
        </select><button class="btn">.btn</button>
      </span>
      <span class="input-group">
        <select name="" id="" class="select select-lg">
          <option value="">option 1</option>
          <option value="">option 2</option>
          <option value="">option 3</option>
        </select><button class="btn btn-lg">.btn</button>
      </span>
    </div>
    <div>
      <h2>.select.select-color</h2>
      <select name="" id="" class="select select-dark  mb-10">
        <option value="">.select.select-dark</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
      <select name="" id="" class="select select-red  mb-10">
        <option value="">.select.select-red</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
      <select name="" id="" class="select select-orange  mb-10">
        <option value="">.select.select-orange</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
      <select name="" id="" class="select select-yellow  mb-10">
        <option value="">.select.select-yellow</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
      <select name="" id="" class="select select-lightgreen  mb-10">
        <option value="">.select.select-lightgreen</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
      <select name="" id="" class="select select-green  mb-10">
        <option value="">.select.select-green</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
      <select name="" id="" class="select select-lightblue  mb-10">
        <option value="">.select.select-lightblue</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
      <select name="" id="" class="select select-blue  mb-10">
        <option value="">.select.select-blue</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
      <select name="" id="" class="select select-purple  mb-10">
        <option value="">.select.select-purple</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
      </select>
    </div>
  </div>
</div>