@import "./margin-padding.css";
@import "./table.css";
@import "./panel.css";
@import "./col.css";
@import "./form.css";
@import "./popup.css";
@import "./sidebar.css";

html {
    font-family: sans-serif;
    margin:0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 12px;
}

h2 {
    font-size:16px;
    margin:5px 0;
}

h3 {
    font-size:14px;
    margin:5px 0;
}

ul {
    margin: 0;
    padding:0;
}

div,ul,li,table {
    box-sizing: border-box;
}

li {
    margin-left:-4px;
}

ul.inline-block li {
    display: inline-block;
}

*:focus {
    outline: 0;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
.pull-right {
    float:right;
}

.midbox {
    display: table;
    text-align: center;
}
.midbox .midcontent {
    display: table-cell;
    vertical-align: middle;
}

.w-100p {
    width:100%;
}

.bg-black {
    background:#000;
}
.bg-grey {
    background:#4e4e4e;
}
.bg-grey:hover {
    background:#313131;
}
.bg-green {
    background:#2E7D32;
}
.bg-green:hover {
    background:#1B5E20;
}
.bg-lightblue {
    background:#29B6F6; 
}
.bg-lightblue:hover {
    background: #039BE5;
}
.bg-blue {
    background:#1E88E5;
}
.bg-blue:hover {
    background: #1565C0;
}
.bg-red {
    background:#E53935;
}
.bg-red:hover {
    background: #C62828;
}
.bg-orange {
    background:#FB8C00; 
}
.bg-orange:hover {
    background: #EF6C00;
}
.bg-purple {
    background:#7E57C2;
}
.bg-purple:hover {
    background: #5E35B1;
}
.bg-yellow {
    background:#FDD835;
}
.bg-yellow:hover {
    background: #FBC02D;
}
.bg-lightgreen {
    background:#8BC34A;
}
.bg-lightgreen:hover {
    background: #689F38;
}

.text-white {
    color:#fff;
}
.text-red {
    color:#E53935;
}

.text-orange {
    color:#FB8C00;
}

.text-yellow {
    color:#FDD835;
}

.text-lightgreen {
    color:#8BC34A;
}
.text-green {
    color:#43A047;
}
.text-lightblue {
    color:#1eb2f1;
}
.text-blue {
    color:#1E88E5;
}
.text-purple {
    color:#7E57C2;
}
.text-black {
    color:#000;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}

.text-l {
    font-weight: 300;
}

.text-m {
    font-weight: 500;
}

.text-b {
    font-weight: 700;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-move {
    cursor: move;
}

 /* button style */
.btn {
    padding:6px 12px;
    line-height: 14px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s;
    color:#fff;
    background:#4e4e4e;    
    border:1px solid #4e4e4e;
    vertical-align: inherit;
    position: relative;
}

.btn:hover {
    background:#313131;
    border:1px solid #313131;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12);
}

.btn:disabled {
    cursor: not-allowed;
}
.btn:disabled::after {
    content:"";
    background:rgba(255,255,255,0.4);
    position: absolute;
    top:-1px;
    right:-1px;
    bottom:-1px;
    left:-1px;
    border-radius: inherit;

}

.btn-xs {
    padding: 1px 8px;
    font-size: 11px;
}

.btn-sm {
    padding: 3px 10px;
    
}

.btn-lg {
    padding:8px 16px;
    font-size: 14px;
    line-height: 16px;    
}

.btn-circle {
    border-radius: 30px;
}

.btn-icon {
    width:28px;
    height:28px;
    padding: 0;
    border-radius: 50%;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-table;
    text-align: center;
}

.btn-icon.btn-icon-32 {
    width:32px;
    height:32px;
}

.btn-icon .icon {
    display: table-cell;
    vertical-align: middle;
}
.btn-block {
    display: block;
    width: 100%;
  }
  
.btn-block + .btn-block {
    margin-top: 5px;
}

.btn-green {
    color:#fff;
    background:#43A047;    
    border:1px solid #43A047;
}
.btn-green:hover {
    background:#2E7D32;
    border:1px solid #2E7D32;
}
.btn-lightblue {
    color:#fff;
    background:#29B6F6;    
    border:1px solid #1eb2f1;
}
.btn-lightblue:hover {
    background: #039BE5;
    border:1px solid #039BE5;
}
.btn-blue {
    color:#fff;
    background:#1E88E5;    
    border:1px solid #1E88E5;
}
.btn-blue:hover {
    background: #1565C0;
    border:1px solid #1565C0;
}
.btn-red {
    color:#fff;
    background:#E53935;    
    border:1px solid #E53935;
}
.btn-red:hover {
    background: #C62828;
    border:1px solid #C62828;
}
.btn-orange {
    color:#fff;
    background:#FB8C00;    
    border:1px solid #FB8C00;
}
.btn-orange:hover {
    background: #EF6C00;
    border:1px solid #EF6C00;
}
.btn-purple {
    color:#fff;
    background:#7E57C2;    
    border:1px solid #7E57C2;
}
.btn-purple:hover {
    background: #5E35B1;
    border:1px solid #5E35B1;
}
.btn-yellow {
    color:#fff;
    background:#FDD835;    
    border:1px solid #FDD835;
}
.btn-yellow:hover {
    background: #FBC02D;
    border:1px solid #FBC02D;
}
.btn-lightgreen {
    color:#fff;
    background:#8BC34A;    
    border:1px solid #8BC34A;
}
.btn-lightgreen:hover {
    background: #689F38;
    border:1px solid #689F38;
}
.btn-white {
    color:#4e4e4e;
    background:#fff;
    border:1px solid #fff;    
}
.btn-white:hover {
    background:#EEEEEE;
    border:1px solid #EEEEEE;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12);
}
.btn-shadow {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12);
}

.account .btn-green {
    color:#fff;
    background:#1E88E5;    
    border:1px solid #1E88E5;
}
.account .btn-green:hover {
    background: #1565C0;
    border:1px solid #1565C0;
}

.opportunity .btn-green {
    color:#fff;
    background:#7E57C2;    
    border:1px solid #7E57C2;
}
.opportunity .btn-green:hover {
    background: #5E35B1;
    border:1px solid #5E35B1;
}








