<div>
  <div class="panel border-green">
    <div class="panel-header">
      <div class="action">
        <button class="btn btn-sm btn-green btn-circle">New Leads</button>
        <button class="btn btn-sm btn-green btn-circle">Change Status</button>
        <button class="btn btn-sm btn-green btn-circle">Add to Campaign</button>
        <button class="btn btn-sm btn-green btn-circle">Mass Update</button>
        <button class="btn btn-sm btn-green btn-circle">Mass Delete</button>
      </div>
    </div>
    <div class="panel-body">
      <app-table></app-table>
    </div>
    <div class="panel-footer">
      <div class="pagination pagination-green">
        <div>Showing 1 to 10 of 57 entries</div>
        <ul>
          <li class="arrow">
            <a>«</a>
          </li>
          <li class="active">
            <a>1</a>
          </li>
          <li>
            <a>2</a>
          </li>
          <li>
            <a>3</a>
          </li>
          <li>
            <a>4</a>
          </li>
          <li>
            <a>5</a>
          </li>
          <li class="arrow">
            <a>»</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>