.sidebar-left {
    background:#4e4e4e;
    color:#f2f5f8;
    padding:50px 0;
}

:focus {
    outline: none;
}

h2 {
    padding:5px 15px;
}

.active {
    background:#1b1e24;
}
.active::after {
    content:'';
    position: absolute;
    right:-2px;
    top:6px;
    border-right:8px solid #f2f5f8;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.sidenav li {
    margin-left: 0;
    list-style: none;
    cursor: pointer;
    position: relative;
}

.sidenav li .heading {
    display: block;
    padding: 8px 15px;
    font-weight: 700;    
}

.sidenav li .subheading .fa {
    display: inline-block;
    width:20px;
}

.sidenav li .heading:hover {
    background:#2c2d2f;
}

.sidenav li .subheading {
    display: block;
    padding: 8px 15px;
    font-weight: 300;
    color: #8e8e8e;
}

.sidenav li .subheading:hover {
    color:#f2f5f8;
    background:#2c2d2f;
}

.sidenav .subnav {
    background:#1b1e24;
    height:auto;

}

.sidenav .subnav li {
    height:30px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    overflow: hidden;
}

.sidenav .subnav.hide li {
    height:0;    
}

