<div class="sidebar-left">
  <h2>SETUP</h2>
  
  <ul class="sidenav">
    <li class="heading">
      <span class="heading" (click)="active='company'" [class.active]="active==='company'">
        Company Information
      </span>
      <ul class="subnav" [class.hide]="active!=='company'">
        <li>
          <span class="subheading" routerLink="/setup/company">
            <i class="fa fa-info-circle"></i> Company Information
          </span>
        </li>
        <li>
          <span class="subheading" routerLink="/setup/company/users">
            <i class="fa fa-users"></i> Users
          </span>
        </li>
        <li>
          <span class="subheading" routerLink="/setup/company/organisational-chart">
            <i class="fa fa-sitemap"></i> Organisational Chart
          </span>
        </li>
        <li>
          <span class="subheading" routerLink="/setup/company/premission-profile">
            <i class="fa fa-user-secret"></i> Permission Profile
          </span>
        </li>
      </ul>
    </li>
    <li>
      <span class="heading" (click)="active='leads'" [class.active]="active==='leads'">
        Leads
      </span>
      <ul class="subnav" [class.hide]="active!=='leads'">
        <li>
          <span class="subheading" routerLink="/setup/leads/fields">
            <i class="fa fa-file-alt"></i> Fields
          </span>
        </li>
        <li>
          <span class="subheading" routerLink="/setup/leads/page-layout">
            <i class="fa fa-newspaper"></i> Lead Page Layout
          </span>
        </li>
      </ul>
    </li>
    <li>
      <span class="heading" (click)="active='accounts'" [class.active]="active==='accounts'">Accounts</span>
      <ul class="subnav" [class.hide]="active!=='accounts'">
        <li>
          <span class="subheading" routerLink="/setup/leads/fields">
            <i class="fa fa-file-alt"></i> Fields
          </span>
        </li>
        <li>
          <span class="subheading" routerLink="/setup/leads/page-layout">
            <i class="fa fa-newspaper"></i> Lead Page Layout
          </span>
        </li>
      </ul>
    </li>
    <li>
      <span class="heading" (click)="active='opportunities'" [class.active]="active==='opportunities'">Opportunities</span>
      <ul class="subnav" [class.hide]="active!=='opportunities'">
        <li>
          <span class="subheading" routerLink="/setup/leads/fields">
            <i class="fa fa-file-alt"></i> Fields
          </span>
        </li>
        <li>
          <span class="subheading" routerLink="/setup/leads/page-layout">
            <i class="fa fa-newspaper"></i> Lead Page Layout
          </span>
        </li>
      </ul>
    </li>
    <li>
      <span class="heading" (click)="active='email'" [class.active]="active==='email'">Email Communications</span>
      <ul class="subnav" [class.hide]="active!=='email'">
        <li>
          <span class="subheading" routerLink="/setup/email/templates">
            <i class="fa fa-envelope-open"></i> Email Templates
          </span>
        </li>
        <li>
          <span class="subheading" routerLink="/setup/email/campaigns">
            <i class="fa fa-at"></i> Email Campaign
          </span>
        </li>
      </ul>
    </li>
    <li>
      <span class="heading" [class.active]="active==='workflow'">Workflow Automation</span>
    </li>
    <li>
      <span class="heading" [class.active]="active==='documents'">Documents</span>
    </li>
  </ul>
</div>