<div class="sidebar-left">
  <h2>SETUP</h2>
  <ul class="sidenav">
    <li class="heading">
      <span class="heading" routerLink="/setup/company" routerLinkActive="bg-active">
        Company Information
        <span></span>
      </span>
      <ul class="subnav">
        <li>
          <span class="subheading" routerLink="/setup/company/users">
            <i class="fa fa-users"></i> Users</span>
        </li>
        <li>
          <span class="subheading">
            <i class="fa fa-sitemap"></i> Organisational Chart</span>
        </li>
        <li>
          <span class="subheading">
            <i class="fa fa-user-secret"></i> Permission Profile</span>
        </li>
      </ul>
    </li>
    <li>
      <span class="heading">Leads</span>
    </li>
    <li>
      <span class="heading">Accounts</span>
    </li>
    <li>
      <span class="heading">Opportunities</span>
    </li>
    <li>
      <span class="heading">Email Communications</span>
    </li>
    <li>
      <span class="heading">Workflow Automation</span>
    </li>
  </ul>
</div>