<h2>Drag and Drop</h2>
<div class="row">
  <div class="col-3">
    <h3>Available Option</h3>
    <div (drop)="drop($event)" (dragover)="allowDrop($event)" class="dropbox">
      <div class="drop-option" *ngFor="let option of options" [id]="option.content" draggable="true" (dragstart)="drag($event)">{{option.content}}</div>
    </div>
  </div>
  <div class="col-3">
    <h3>Option in the Table</h3>
    <div (drop)="drop($event)" (dragover)="allowDrop($event)" class="dropbox" id="choosen">
      <div class="drop-option" *ngFor="let choosen of choosens" [id]="choosen.content" draggable="true" (dragstart)="drag($event)">{{choosen.content}}</div>
    </div>
  </div>
</div>
<div class="clearfix p-10"></div>
<button class="btn btn-orange" (click)="submit()"><i class="fa fa-save"></i> Submmit</button>
<button class="btn" (click)="refresh()"><i class="fa fa-close"></i> Cancel</button>