/* input style */
.input {
    color:#4e4e4e;
    border:1px solid #ccc;
    font-size:12px;
    line-height: 14px;
    padding:6px;
    border-radius: 3px;
    transition: all 0.3s;
    box-sizing: border-box;
}
.input:focus {
    border:1px solid #4e4e4e;
    outline: none; 
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12);   
}

.input:disabled {
    background:#eee;
    cursor: not-allowed;
}

.input-group {
    display: inline-block;
    position: relative;
}

.input-group>.input + .btn {
    margin-left: -3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group>.btn + .input {
    margin-left: -3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: transparent;
}

.input-xs {
    padding:1px 6px;
    font-size: 11px;
}

.input-sm {
    padding:3px 6px;
    height: auto;
}

.input-lg {
    font-size: 14px;
    padding:8px;
    height: auto;
}

.input-group>.input +.input-icon {
    position: absolute;
    right:6px;
    bottom: 7px;
    cursor: pointer;
}

.input-group>.input-xs +.input-icon {
    bottom: 2px;
}
.input-group>.input-sm +.input-icon {
    bottom: 4px;
}
.input-group>.input-lg +.input-icon {
    bottom: 10px;
}

.input-block {
    box-sizing: border-box;
    display: block;
    width: 100%;
}
  
.input-block + .input-block {
    margin-top: 5px;
}

.input.input-red {
    border-color: #EF9A9A;
}
.input.input-red:focus {
    border-color: #E53935;
}
.input.input-orange {
    border-color: #FFCC80;
}
.input.input-orange:focus {
    border-color: #FB8C00;
}
.input.input-yellow {
    border-color: #FFF176;
}
.input.input-yellow:focus {
    border-color: #FDD835;
}
.input.input-lightgreen {
    border-color: #C5E1A5;
}
.input.input-lightgreen:focus {
    border-color: #8BC34A;
}
.input.input-green {
    border-color: #A5D6A7;
}
.input.input-green:focus {
    border-color: #43A047;
}
.input.input-lightblue {
    border-color: #81D4FA;
}
.input.input-lightblue:focus {
    border-color: #29B6F6;
}
.input.input-blue {
    border-color: #90CAF9;
}
.input.input-blue:focus {
    border-color: #1E88E5;
}
.input.input-purple {
    border-color: #B39DDB;
}
.input.input-purple:focus {
    border-color: #7E57C2;
}
/* input-line style */
.input-line-group {
    position: relative;
    display:inline-block;
}

.input-line-group .search-line {
    background: transparent;
    border:1px solid transparent;
    border-bottom-color: #8e8e8e;
    transition: all 0.3s;
    color:#f2f5f8;
}

.input-line-group .search-icon {
    position: absolute;
    right:0;
    bottom: 3px;
    cursor:pointer;
    z-index: 2;
}
.input-line-group .search-line + span {
    background:transparent;
    position: absolute;
    display:block;
    width:0;
    height:1px;
    bottom:0;
    left:50%;
    transition: all 0.3s;
}

.input-line-group .search-line:focus {
    outline: none;
    border-bottom-color: transparent;
}

.input-line-group .search-line:focus + span {
    background:#f2f5f8;
    width:100%;
    left:0;
}

.input-line-group .input-line + .underline {
    font-weight: 700;
    width:100%;
    padding:6px 1px 6px;
    position: absolute;
    left:0;
    bottom: 0;
    transition: all 0.3s;
}
.input-line-group .input-line  {
    z-index: 1;
    position: relative;
    margin-top:10px;
    color: #4e4e4e;
    background: transparent;
    border:1px solid transparent;
    border-bottom-color: #ccc;
    font-size:12px;
    padding:6px 0 3px;
    border-radius: 0;
    transition: all 0.3s;
}
.input-line-group .input-line +.underline:after{
    content: "";
    background:transparent;
    position: absolute;
    display:block;
    width:0;
    height:2px;
    bottom:0;
    left:50%;
    transition: all 0.3s;
}

.input-line-group .input-icon {
    position: absolute;
    right:0;
    bottom: 6px;
    cursor:pointer;
    z-index: 2;
}

.input-line-group .input-icon + .input-line {
    padding-right: 15px;
}

.input-line-group .input-line:focus +.underline {
    padding-bottom: 22px;
    color:#4e4e4e;
}

.input-line-group .input-line:not([value=""]) + .underline {
    padding-bottom: 22px;
    color:#4e4e4e;
}
.input-line-group .input-line:focus +.underline:after {
    width:100%;
    left:0;
    background:#4e4e4e;
}
.input-line-group .input-line:focus {
    border-bottom-color: transparent;
    outline: none;    
}
.input-line.input-block {
    width:100%;
    display: inline-block;
}
.input-line-group .input-line.input-line-red {
    border-bottom-color: #E53935;
}
.input-line-group .input-line.input-line-red +.underline {
    color:#E53935;
}
.input-line-group .input-line.input-line-red:focus +.underline:after {
    width:100%;
    left:0;
    background:#E53935;
}
.input-line-group .input-line.input-line-orange {
    border-bottom-color: #FB8C00;
}
.input-line-group .input-line.input-line-orange +.underline {
    color:#FB8C00;
}
.input-line-group .input-line.input-line-orange:focus +.underline:after {
    width:100%;
    left:0;
    background:#FB8C00;
}
.input-line-group .input-line.input-line-yellow {
    border-bottom-color: #FDD835;
}
.input-line-group .input-line.input-line-yellow +.underline {
    color:#FDD835;
}
.input-line-group .input-line.input-line-yellow:focus +.underline:after {
    width:100%;
    left:0;
    background:#FDD835;
}
.input-line-group .input-line.input-line-lightgreen {
    border-bottom-color: #8BC34A;
}
.input-line-group .input-line.input-line-lightgreen +.underline {
    color:#8BC34A;
}
.input-line-group .input-line.input-line-lightgreen:focus +.underline:after {
    width:100%;
    left:0;
    background:#8BC34A;
}
.input-line-group .input-line.input-line-green {
    border-bottom-color: #43A047;
}
.input-line-group .input-line.input-line-green +.underline {
    color:#43A047;
}
.input-line-group .input-line.input-line-green:focus +.underline:after {
    width:100%;
    left:0;
    background:#43A047;
}
.input-line-group .input-line.input-line-lightblue {
    border-bottom-color: #29B6F6;
}
.input-line-group .input-line.input-line-lightblue +.underline {
    color:#29B6F6;
}
.input-line-group .input-line.input-line-lightblue:focus +.underline:after {
    width:100%;
    left:0;
    background:#29B6F6;
}
.input-line-group .input-line.input-line-blue {
    border-bottom-color: #1E88E5;
}
.input-line-group .input-line.input-line-blue +.underline {
    color:#1E88E5;
}
.input-line-group .input-line.input-line-blue:focus +.underline:after {
    width:100%;
    left:0;
    background:#1E88E5;
}
.input-line-group .input-line.input-line-purple {
    border-bottom-color: #7E57C2;
}
.input-line-group .input-line.input-line-purple +.underline {
    color:#7E57C2;
}
.input-line-group .input-line.input-line-purple:focus +.underline:after {
    width:100%;
    left:0;
    background:#7E57C2;
}

.input-line-group .input-line.input-line-white {
    border-bottom-color: #FFFFFF;
}
.input-line-group .input-line.input-line-white +.underline {
    color:#FFFFFF;
}
.input-line-group .input-line.input-line-white:focus +.underline:after {
    width:100%;
    left:0;
    background:#FFFFFF;
}
/* select style */
.select {
    color:#4e4e4e;
    border:1px solid #ccc;
    font-size:12px;
    line-height: 14px;
    padding:5px;
    border-radius: 3px;
    transition: all 0.3s;
    box-sizing: border-box;
}
.select:focus {
    border:1px solid #4e4e4e;
    outline: none; 
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12);  
}

.select:disabled {
    background:#eee;
    cursor: not-allowed;
}

.select-sm {
    padding:2px 6px;
    font-size: 12px;
}
.select-xs {
    padding:1px 6px;
    font-size: 11px;
}
.select-lg {
    font-size: 14px;
    padding:7px 8px;
    height: auto;
}

.input-group>.select + .btn {
    margin-left: -3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group>.btn + .select {
    margin-left: -3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: transparent;
}

.input-group>.select + .input {
    margin-left: -3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.select-green {
    color:#fff;
    background:#43A047;    
    border:1px solid #43A047;
}
.select-green:focus {
    border:1px solid #2E7D32;
}
.select-lightblue {
    color:#fff;
    background:#29B6F6;    
    border:1px solid #1eb2f1;
}
.select-lightblue:focus {
    border:1px solid #039BE5;
}
.select-blue {
    color:#fff;
    background:#1E88E5;    
    border:1px solid #1E88E5;
}
.select-blue:focus {
    border:1px solid #1565C0;
}
.select-dark {
    color:#fff;
    background:#4e4e4e;    
    border:1px solid #4e4e4e;
}

.select-red {
    color:#fff;
    background:#E53935;    
    border:1px solid #E53935;
}
.select-red:focus {
    border:1px solid #C62828;
}
.select-orange {
    color:#fff;
    background:#FB8C00;    
    border:1px solid #FB8C00;
}
.select-orange:focus {
    border:1px solid #EF6C00;
}
.select-purple {
    color:#fff;
    background:#7E57C2;    
    border:1px solid #7E57C2;
}
.select-purple:focus {
    border:1px solid #5E35B1;
}
.select-yellow {
    color:#fff;
    background:#FDD835;    
    border:1px solid #FDD835;
}
.select-yellow:focus {
    border:1px solid #FBC02D;
}
.select-lightgreen {
    color:#fff;
    background:#8BC34A;    
    border:1px solid #8BC34A;
}
.select-lightgreen:focus {
    border:1px solid #689F38;
}
/* select-line style */
.input-line-group .select-line {
    z-index: 1;
    position: relative;
    color: #4e4e4e;
    background: transparent;
    border:1px solid transparent;
    font-size:12px;
    padding:3px 0 3px;
    border-radius: 0;
    transition: all 0.3s;
}
.input-line-group .select-line.select-line-lg{
    font-size:14px;
}

.input-line-group .select-line:focus {
    border-bottom-color: transparent;
    outline: none;    
}
.input-line-group .select-line +.underline:after{
    content: "";
    background:transparent;
    position: absolute;
    display:block;
    width:0;
    height:2px;
    bottom:0;
    left:50%;
    transition: all 0.3s;
}
.input-line-group .select-line:focus +.underline:after {
    width:100%;
    left:0;
    background:#4e4e4e;
}
.input-line-group label {
    font-weight: 700;
}
/* checkbox style */

.checkbox {
    position: relative;
    display: inline-block;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    top:-2px;
    left:-3px;
    z-index: 2;
    opacity: 0;
}

.checkbox>label {
    margin-left:18px;
    display: inline-block;
    font-size: 12px;
}
.checkbox label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #ccc;
    background: #fff;
}
.checkbox input[type="checkbox"]:checked + label:before {
    background:#4e4e4e;
    border-color:#4e4e4e;
}
.checkbox input[type="checkbox"]:checked + label:after {
    position: absolute;
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\f00c';
    top: 50%;
    left: 2px;
    margin-top: -5px;
    font-size: 10px;
    line-height: 1;
    color: #FFF;
}
.checkbox.checkbox-red input[type="checkbox"]:checked + label:before {
    background:#E53935;
    border-color:#E53935;
}
.checkbox.checkbox-orange input[type="checkbox"]:checked + label:before {
    background:#FB8C00;
    border-color:#FB8C00;
}
.checkbox.checkbox-yellow input[type="checkbox"]:checked + label:before {
    background:#FDD835;
    border-color:#FDD835;
}
.checkbox.checkbox-lightgreen input[type="checkbox"]:checked + label:before {
    background:#8BC34A;
    border-color:#8BC34A;
}
.checkbox.checkbox-green input[type="checkbox"]:checked + label:before {
    background:#43A047;
    border-color:#43A047;
}
.checkbox.checkbox-lightblue input[type="checkbox"]:checked + label:before {
    background:#1eb2f1;
    border-color:#1eb2f1;
}
.checkbox.checkbox-blue input[type="checkbox"]:checked + label:before {
    background:#1E88E5;
    border-color:#1E88E5;
}
.checkbox.checkbox-purple input[type="checkbox"]:checked + label:before {
    background:#7E57C2;
    border-color:#7E57C2;
}

.checkbox input[type="checkbox"]:disabled + label:before {
    background:#4e4e4e;
    border-color:#4e4e4e;
    opacity: 0.5;
}

.checkbox input[type="checkbox"]:disabled + label:after {
    position: absolute;
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\f00c';
    top: 50%;
    left: 2px;
    margin-top: -5px;
    font-size: 10px;
    line-height: 1;
    color: #FFF;
}
.checkbox.checkbox-red input[type="checkbox"]:disabled + label:before {
    background:#E53935;
    border-color:#E53935;
}
.checkbox.checkbox-orange input[type="checkbox"]:disabled + label:before {
    background:#FB8C00;
    border-color:#FB8C00;
}
.checkbox.checkbox-yellow input[type="checkbox"]:disabled + label:before {
    background:#FDD835;
    border-color:#FDD835;
}
.checkbox.checkbox-lightgreen input[type="checkbox"]:disabled + label:before {
    background:#8BC34A;
    border-color:#8BC34A;
}
.checkbox.checkbox-green input[type="checkbox"]:disabled + label:before {
    background:#43A047;
    border-color:#43A047;
}
.checkbox.checkbox-lightblue input[type="checkbox"]:disabled + label:before {
    background:#1eb2f1;
    border-color:#1eb2f1;
}
.checkbox.checkbox-blue input[type="checkbox"]:disabled + label:before {
    background:#1E88E5;
    border-color:#1E88E5;
}
.checkbox.checkbox-purple input[type="checkbox"]:disabled + label:before {
    background:#7E57C2;
    border-color:#7E57C2;
}

/* radio style */
.radio {
    position: relative;
    display: inline-block;
}

.radio input[type="radio"] {
    position: absolute;
    top:0;
    left:-2px;
    z-index: 2;
    opacity: 0;
}

.radio label {
    margin-left:18px;
    display: inline-block;
}

.radio label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #ccc;
    background: #fff;
}
.radio input[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    margin-top: -4px;
    display: inline-block;
    font-size: 10px;
    line-height: 1;
    width: 8px;
    height: 8px;
    background-color: #444;
    border-radius: 50px;
    box-shadow: 0px 0px 1px #444;
}
.radio.radio-red input[type="radio"]:checked + label:after {
    background-color:#E53935;
    box-shadow: 0px 0px 1px #E53935;
}
.radio.radio-orange input[type="radio"]:checked + label:after {
    background-color:#FB8C00;
    box-shadow: 0px 0px 1px #FB8C00;
}
.radio.radio-yellow input[type="radio"]:checked + label:after {
    background-color:#FDD835;
    box-shadow: 0px 0px 1px #FDD835;
}
.radio.radio-lightgreen input[type="radio"]:checked + label:after {
    background-color:#8BC34A;
    box-shadow: 0px 0px 1px #8BC34A;
}
.radio.radio-green input[type="radio"]:checked + label:after {
    background-color:#43A047;
    box-shadow: 0px 0px 1px #43A047;
}
.radio.radio-lightblue input[type="radio"]:checked + label:after {
    background-color:#1eb2f1;
    box-shadow: 0px 0px 1px #1eb2f1;
}
.radio.radio-blue input[type="radio"]:checked + label:after {
    background-color:#1E88E5;
    box-shadow: 0px 0px 1px #1E88E5;
}
.radio.radio-purple input[type="radio"]:checked + label:after {
    background-color:#7E57C2;
    box-shadow: 0px 0px 1px #7E57C2;
}

textarea {
    color:#4e4e4e;
    border:1px solid #ccc;
    font-size:12px;
    line-height: 18px;
    padding:6px;
    border-radius: 3px;
    transition: all 0.3s;
    box-sizing: border-box;
}
textarea:focus {
    border:1px solid #4e4e4e;
    outline: none;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12);   
}