label {
    display:inline-block;
    font-weight: 700;
    padding-bottom: 5px;
}

.popup ul {
    list-style: none;
    margin: 0 -15px;
}

.popup li {
    padding:3px 19px;
    color:#444;
    font-weight: 700;
}

.popup li .title {
    cursor: pointer;
}

.popup li i {
    cursor: pointer;
}

.popup li:hover {
    color:#fff;
    background: #444;
}

.input-group {
    width:100%;
}

.input-line-group {
    width:100%;
}

.popup-body .underline {
    font-weight: 700;
}