<div class="layout-header">
  <div class="logo">
    <div>LOGIX CRM</div>
    <img src="" alt="">
  </div>
  <ul class="nav inline-block">
    <li routerLink="/" routerLinkActive="bg-grey">Dashboard</li>
    <li routerLink="/leads" routerLinkActive="bg-green">Leads</li>
    <li routerLink="/accounts" routerLinkActive="bg-blue">Accounts</li>
    <li routerLink="/opportunities" routerLinkActive="bg-purple">Opportunities</li>
    <li routerLink="/reports" routerLinkActive="bg-red">Reports</li>
  </ul>
  <div class="action">
    <div class="option user p-15">
      ACYFX-Admin
      <i class="fa fa-caret-down pl-5"></i>
      <div class="dropdown">
        <div class="dropdown-item">My Profile</div>
        <div class="dropdown-item" routerLink="user/setting">My Settings</div>
        <div class="dropdown-item">Developer Console</div>
        <div class="dropdown-item" routerLink="/login">Logout</div>
      </div>
    </div>
    <div class="option language">
      <img src="/assets/images/cn.svg" alt="">
      <div class="dropdown">
        <div class="dropdown-item">
          <img src="/assets/images/cn.svg" alt="">
        </div>
        <div class="dropdown-item">
          <img src="/assets/images/gb.svg" alt="">
        </div>
      </div>
    </div>
    <div class="option" routerLink="/setup/company">
      <i class="fa fa-cog" ></i> Setup
    </div>
    <div class="option">
      <div class="search">
        <input type="text" placeholder="search">
        <i class="fa fa-search" routerLink="/search"></i>
      </div>
    </div>
  </div>
</div>