ul {
    padding-left:20px; 
 }
 li {
     list-style: none;
     
 }
 
 li .icon {
     display:inline-block;
     width:15px;
 }
 
 .department-heading {
     padding:5px 0 5px 5px;
     cursor: pointer;
     position: relative;
 }
 
 .department-heading:hover {
     background:#f2f5f8;
 }

 .department-heading .heading-select {
     position: absolute;
     top: 0;
     right:0;
 }