.input-group {
    display:inline-block;
    margin: auto;
    width:450px;
}

.field-label {
    display: inline-block;
    width:150px;
    text-align: left;
}

.input-group input {
    display: inline-block;    
}

.field-textarea {
    width:600px;
    margin: 10px auto;
}

.input-line-group {
    width:100%;
}
