<setup-nav></setup-nav>
<div class="with-sidebar-left">
  <div class="panel border-orange">
    <div class="panel-header">
      <h2>New Email Campaigns</h2>
    </div>
    <div class="panel-body">
      <div class="panel-section">
        <div class="section-header">Step 1: Information</div>
        <div class="section-body">
          <div class="m-10  text-center">
            <label class="field-label">Campaign Name</label>
            <span class="input-group">
              <input type="text" class="input input-block">
            </span>
          </div>
          <div class="m-10  text-center">
            <label class="field-label">Email Template </label>
            <span class="input-group">
              <select name="" id="" class="select input-block">
                <option value="" *ngFor="let item of opportunityTypes">{{item}}</option>
              </select>
            </span>
          </div>
          <div class="m-10  text-center">
            <label class="field-label">Subscriber List</label>
            <span class="input-group">
              <select name="" id="" class="select input-block">
                <option value="" *ngFor="let item of opportunityTypes">{{item}}</option>
              </select>
            </span>
          </div>
          <div class="m-10  text-center">
            <label class="field-label">Type</label>
            <span class="input-group">
              <select name="" id="" class="select input-block">
                <option value="" *ngFor="let item of opportunityTypes">{{item}}</option>
              </select>
            </span>
          </div>
          <div class="m-10  text-center">
            <span class="field-label">
              <span>Description</span>
            </span>
            <span class="input-group">
              <textarea class="textarea input-block"></textarea>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-section">
        <div class="section-header">Step 2: Schedules</div>
        <div class="section-body">
          <div class="field-textarea">
            <div class="mb-15">
              <div class="checkbox checkbox-orange">
                <input type="checkbox" [(ngModel)]="ongoing">
                <label> Ongoing Campaign</label>
              </div>
            </div>
          </div>
          <div class="m-10  text-center">
            <label class="field-label">Start Date </label>
            <span class="input-group">
              <input class="input input-block" type="text">
              <span class="input-icon">
                <i class="fa fa-calendar-alt"></i>
              </span>
            </span>
          </div>
          <div class="m-10  text-center" *ngIf="!ongoing">
            <label class="field-label">End Date </label>
            <span class="input-group">
              <input class="input input-block" type="text">
              <span class="input-icon">
                <i class="fa fa-calendar-alt"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-orange">
        <i class="fa fa-save"></i> Save</button>
      <button class="btn">
        <i class="fa fa-times"></i> Cancel</button>
    </div>
  </div>
</div>