<setup-nav></setup-nav>
<div class="with-sidebar-left">
  <div class="panel border-orange">
    <div class="panel-header">
      <h2>New Email Campaigns</h2>
    </div>
    <div class="panel-body">
      <div class="panel-section">
        <div class="section-header">Trading Platform</div>
        <div class="section-body">
          <div class="m-10  text-center">
            <label class="field-label">Campaign Name</label>
            <span class="input-group">
              <input type="text" class="input input-block">
            </span>
          </div>
          <div class="m-10  text-center">
            <label class="field-label">Email Template </label>
            <span class="input-group">
              <select name="" id="" class="select input-block">
                <option value="" *ngFor="let item of opportunityTypes">{{item}}</option>
              </select>
            </span>
          </div>
          <div class="m-10  text-center">
            <label class="field-label">Subscriber List</label>
            <span class="input-group">
              <select name="" id="" class="select input-block">
                <option value="" *ngFor="let item of opportunityTypes">{{item}}</option>
              </select>
            </span>
          </div>
          <div class="m-10  text-center">
            <label class="field-label">Type</label>
            <span class="input-group">
              <select name="" id="" class="select input-block">
                <option value="" *ngFor="let item of opportunityTypes">{{item}}</option>
              </select>
            </span>
          </div>
          <div class="m-10  text-center">
            <label class="field-label">Type</label>
            <span class="input-group">
              <textarea class="textarea input-block"></textarea>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>