<setup-nav></setup-nav>
<div class="with-sidebar-left">
  <div class="panel border-orange">
    <div class="panel-header">
      <h2>New Email Campaigns</h2>
    </div>
    <div class="panel-body">
      <div class="panel-section">
        <div class="section-header">Step 1: Information</div>
        <div class="section-body">
          <div class="text-center">
            <div class="field-textarea">
              <div class="row">
                <div class="col-3">
                  <label class="field-label">Campaign Name
                    <span class="text-red">*</span>
                  </label>
                </div>
                <div class="col-9">
                  <input type="text" class="input input-block">
                </div>
              </div>
              <div class="clearfix m-10"></div>
              <div class="row">
                <div class="col-3">
                  <label class="field-label">Email Template
                    <span class="text-red">*</span>
                  </label>
                </div>
                <div class="col-9">
                  <select name="" id="" class="select input-block">
                    <option value="">Deposit 2017</option>
                    <option value="">Anual 2018</option>
                    <option value="">10% off</option>
                  </select>
                </div>
              </div>
              <div class="clearfix  m-10"></div>
              <div class="row">
                <div class="col-3">
                  <label class="field-label">Subscriber List
                    <span class="text-red">*</span>
                  </label>
                </div>
                <div class="col-9">
                  <select name="" id="" class="select input-block">
                    <option value="">Live account</option>
                    <option value="">2018 Lottery</option>
                    <option value="">Funding</option>
                  </select>
                </div>
              </div>
              <div class="clearfix  m-10"></div>
              <div class="row">
                <div class="col-3">
                  <label class="field-label">Type
                    <span class="text-red">*</span>
                  </label>
                </div>
                <div class="col-9">
                  <select name="" id="" class="select input-block">
                    <option value="">Advertisement</option>
                    <option value="">Promotion</option>
                    <option value="">Announcement</option>
                    <option value="">WorkFlow</option>
                  </select>
                </div>
              </div>
              <div class="clearfix  m-10"></div>
              <div class="row">
                <div class="col-3">
                  <label class="field-label">Description
                  </label>
                </div>
                <div class="col-9">
                  <textarea class="textarea input-block"></textarea>
                </div>
              </div>
              <div class="clearfix  m-10"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-section">
        <div class="section-header">
          Step 2: Schedules 
          <small class="text-orange">( Email campaign start at the start date, and end at the end date. )</small>
        </div>
        <div class="section-body">
          <div class="field-textarea">
            <div class="mb-15">
              <div class="checkbox checkbox-orange">
                <input type="checkbox" [(ngModel)]="ongoing">
                <label> Ongoing Campaign</label>
              </div>
            </div>
          </div>          
          <div class="clearfix  m-10"></div>
          <div class="m-10  text-center">
            <label class="field-label">Start Date </label>
            <span class="input-group">
              <input class="input input-block" type="text">
              <span class="input-icon">
                <i class="fa fa-calendar-alt"></i>
              </span>
            </span>
          </div>
          <div class="m-10  text-center" *ngIf="!ongoing">
            <label class="field-label">End Date </label>
            <span class="input-group">
              <input class="input input-block" type="text">
              <span class="input-icon">
                <i class="fa fa-calendar-alt"></i>
              </span>
            </span>
          </div>
          <div class="m-10  text-center">
            <label class="field-label">Status </label>
            <span class="input-group text-left">
              <select name="" id="" class="select select-orange input-block">
                <option value="">Open</option>
                <option value="">Closed</option>
              </select>
            </span>
          </div>

        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-orange">
        <i class="fa fa-save"></i> Save</button>
      <button class="btn">
        <i class="fa fa-times"></i> Cancel</button>
    </div>
  </div>
</div>