<div div class="with-sidebar-right" [class.hide-right]="!sidebarShow">
  <div class="panel border-green">
    <div class="panel-header">
      <h2 *ngIf="viewId == 0">Create New View </h2>
      <h2 *ngIf="viewId != 0">Edit View</h2>
    </div>
    <div class="panel-body">
      <div class="panel-section">
        <!-- Step 1: Enter View Name -->
        <div class="section-header">
          Step 1: Enter View Name
        </div>
        <div class="section-body">
          <div class="input-line-group mtb-15" style="width:100%">
            <input type="text" class="input-line input-block" onkeyup="this.setAttribute('value', this.value);" value="" [(ngModel)]="viewName">
            <span class="underline">View Name</span>
          </div>
        </div>
        <!-- Step 2. Specify Filter Criteria -->
        <div class="section-header">
          Step 2. Specify Filter Criteria
        </div>
        <div class="section-body">
          <table class="table-full no-line mb-10">
            <thead>
              <tr>
                <td width=50></td>
                <td>Fields</td>
                <td>Condition</td>
                <td>Value</td>
                <td width=50></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let filter of filters; index as i">
                <td>{{filter.index}}</td>
                <td>
                  <select class="select select-sm input-block" [(ngModel)]="filter.field" (change)="clearFilterValue(filter.index)">
                    <option *ngFor="let field of allFields" [ngValue]="field.id">{{field.text}}</option>
                  </select>
                </td>
                <td>
                  <select name="" id="" class="select select-sm input-block" [(ngModel)]="filter.condition">
                    <option *ngFor="let condition of conditions" [ngValue]="condition">{{condition}}</option>
                  </select>
                </td>
                <td>
                  <input *ngIf="valueType(filter.field)=='text'" type="text" class="input input-sm input-block" [(ngModel)]="filter.value">
                  <span *ngIf="valueType(filter.field)=='pickList'">
                    <span class="input-group" style="width:100%" (click)="openPickList(filter.index,filter.field,filter.value)">
                      <input class="input input-sm input-block" type="text" placeholder="Input or insert value from the pick list" [(ngModel)]="filter.value"
                        (change)="changeSelected(filter)">
                      <span class="input-icon" (click)="showPickList()">
                        <i class="fa fa-search"></i>
                      </span>

                    </span>
                  </span>
                </td>
                <td>
                  <button class="btn btn-sm btn-red" (click)="deleteFilter(i)">
                    <i class="fa fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button class="btn btn-green btn-sm" (click)="addFilter()">
              <i class="fa fa-plus"></i> Add New Filter
            </button>
          </div>
          <div class="input-line-group mtb-15" style="width:100%">
            <input type="text" class="input-line input-block" onkeyup="this.setAttribute('value', this.value);" value="">
            <span class="underline">Add Filter Logix</span>
          </div>
        </div>
        <!-- Step 3. Select Fields to Display -->
        <div class="section-header">
          Step 3. Select Fields to Display
        </div>
        <div class="section-body">
          <div class="row  mtb-15">
            <div class="col-5">
              <h3>Available Fields</h3>
              <div class="dropbox">
                <div class="drop-option" *ngFor="let field of availableFields" (mousedown)="mouseDown($event)" [id]="field.id" [class.active]="activeOption==field.id">{{field.text}}</div>
              </div>
            </div>
            <div class="col-1 dropbox-switch">
              <div>
                <div class="pb-5" (click)="addField()">
                  <a class="btn btn-icon btn-shadow btn-icon-32">
                    <i class="icon fa fa-arrow-right"></i>
                  </a>
                </div>
                <div class="pb-5">
                  <a class="btn btn-icon btn-shadow btn-icon-32" (click)="removeField()">
                    <i class="icon fa fa-arrow-left"></i>
                  </a>
                </div>
              </div>

            </div>
            <div class="col-5">
              <h3>Selected Fields</h3>
              <div class="dropbox">
                <div class="drop-option" *ngFor="let field of selectedFields" (mousedown)="mouseDown($event)" (mousemove)="mouseMove($event)"
                  (mouseup)="mouseUp($event)" [id]="field.id" [class.active]="activeOption==field.id">
                  {{field.text}}
                </div>
                <div id="drag-item">
                  <i class="fa fa-arrows-alt pr-5" style="color:#43A047"></i>
                  <span id="drag-item-text">Drag Item Label</span>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- Step 4. Restrict Visibility -->
        <div class="section-header">
          Step 4. Restrict Visibility
        </div>
        <div class="section-body">
          <div class="mt-15">
            <div class="pb-10">
              <div class="radio">
                <input type="radio" name="radioExample">
                <label for=""> Visible only to me</label>
              </div>
            </div>
            <div class="pb-10">
              <div class="radio">
                <input type="radio" name="radioExample">
                <label for=""> Visible to all users (Includes partner and customer portal users)</label>
              </div>
            </div>
            <div class="pb-10">
              <div class="radio">
                <input type="radio" name="radioExample">
                <label for=""> Visible to certain groups of users</label>
              </div>
            </div>
          </div>

          <!-- visible User -->
          <div class="dropbox" *ngIf="sharedUser.length || sharedTeam.length" style="height:auto">
            <button class="btn btn-circle btn-green btn-xs ml-5 mb-5" *ngFor="let user of sharedUser" (click)="removeUser(user.id)">
              <i class="fa fa-user"></i>
              {{user.name}}
              <i class="fa fa-times ml-5"></i>
            </button>
            <div class="clearfix"></div>
            <button class="btn btn-circle btn-xs ml-5 mb-5" *ngFor="let team of sharedTeam" (click)="removeTeam(index)">
              <i class="fa fa-users"></i>
              {{team}}
              <i class="fa fa-times ml-5"></i>
            </button>
          </div>
          <div class="clearfix"></div>
          <div class="mt-10 mb-10">
            <button class="btn btn-sm" (click)="userPopup=true">Add Users to Share</button>
            <button class="btn btn-sm" (click)="teamPopup=!teamPopup">
              Add User or Department to Share
              <i class="fa fa-caret-down ml-5" *ngIf="!teamPopup"></i>
              <i class="fa fa-caret-up  ml-5" *ngIf="teamPopup"></i>
            </button>
          </div>

          <!-- Add Team to Share -->
          <div class="row" *ngIf="teamPopup">
            <div class="col-12 text-red mb-5">
              Single click to show departments and users. Double click to add user or department to share.
            </div>
            <div class="col-3">
              <app-departments (output)="chooseDepartment($event)" (clickValue)="showTeamUser($event)"></app-departments>
            </div>
            <div class="col-9">
              <div class="dropbox dropbox-edit">
                <div class="dropbox-heading">
                  <span>{{userDepartment}}</span>
                  <div class="action">
                    <span class="input-line-group pull-right">
                      <span class="search-icon">
                        <i class="fa fa-search"></i>
                      </span>
                      <input type="text" class="search-line" placeholder="search users" (keyup)="userFilter()" [(ngModel)]="userKeyword">
                      <span class="searchline"></span>
                    </span>
                  </div>
                </div>
                <span class="btn btn-circle btn-xs user btn-green" *ngFor="let user of filteredUsers" (dblclick)="addUser(user)">
                  {{user}}
                </span>
              </div>              
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="mt-15 mb-15">
        <button class="btn btn-green" (click)="submit()">
          <i class="fa fa-save"></i> Submmit</button>
        <button class="btn">
          <i class="fa fa-times"></i> Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar for Pick List -->
<div class="sidebar-right" [class.hide-right]="!sidebarShow">
  <div class="clearfix p-10"></div>
  <h2>{{pickHeader}}</h2>
  <div class="picklist">
    <div *ngFor="let item of pickList">
      <div class="mb-10">
        <div class="checkbox checkbox-green">
          <input type="checkbox" [(ngModel)]="item.selected">
          <label> {{item.option}}</label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-green btn-sm" (click)="submitPickList()">
      <i class="fa fa-save"></i> Insert</button>
    <button class="btn btn-sm" (click)="closePickList()">
      <i class="fa fa-times"></i> Close</button>
  </div>
</div>

<!-- Search Users Popup -->
<div class="popup popup-transparent" *ngIf="userPopup">
  <div class="popup-content">
    <div class="popup-box">
      <div class="popup-header">
        <h2 class="title">Add Users to Share</h2>
        <span class="action">
          <a class="btn btn-icon btn-green" (click)="shareToUser()">
            <i class="icon fa fa-save"></i>
          </a>
          <a class="btn btn-icon" (click)="userPopup = false">
            <i class="icon fa fa-times"></i>
          </a>
        </span>
      </div>
      <div class="popup-body">
        <div class="input-line-group mb-10" style="width:100%">
          <span class="input-icon">
            <i class="fa fa-search"></i>
          </span>
          <input type="text" class="input-line input-block" onkeyup="this.setAttribute('value', this.value);" value="">
          <span class="underline">Search Users</span>
        </div>
        <div class="row">
          <div class="col-6 mb-5" *ngFor="let user of users">
            <div class="checkbox checkbox-green">
              <input type="checkbox" [(ngModel)]="user.share">
              <label> {{user.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>