<div class="panel">
  <div class="panel-header">
    <h2>Panel Title</h2>
    <small>Subtitle or discription words</small>
    <div class="action">
      <button class="btn btn-sm btn-circle">action area</button>
      <a href="" class="ml-5">a-element</a>
      <span class="ml-5">span-element</span>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-6">
        <div class="panel border-red">
          <div class="panel-body">
            .panel.border-red
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="panel border-orange">
          <div class="panel-body">
            .panel.border-orange
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="panel border-yellow">
          <div class="panel-body">
            .panel.border-yellow
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="panel border-lightgreen">
          <div class="panel-body">
            .panel.border-lightgreen
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="panel border-green">
          <div class="panel-body">
            .panel.border-green
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="panel border-lightblue">
          <div class="panel-body">
            .panel.border-lightblue
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="panel border-blue">
          <div class="panel-body">
            .panel.border-blue
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="panel border-purple">
          <div class="panel-body">
            .panel.border-purple
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="panel border-white">
        <div class="panel-body">
          .panel.border-white
        </div>
      </div>
  </div>
</div>