<h2>.list (click).list-setting: draggable items</h2>
<ul class="list list-col2 list-drag" [class.list-setting]="edit">
  <li *ngFor="let list of lists">
    <div class="move" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" [id]="list.id" style="cursor:move;">
      <span class="label">
        <span *ngIf="list.readonly=='true'" class="read-only">
          <i class="fa fa-lock"></i>
        </span>
        <span *ngIf="list.required=='true'" class="required">*</span>
        {{list.label}}
      </span>
      <span class="content">
        <span *ngIf="list.content.type=='text'">{{list.content.text}}</span>
        <span *ngIf="list.content.type=='select'">{{list.content.selected}}</span>        
      </span>
    </div>
    <span class="setting">
      <span class="delete">
        <i class="fa fa-trash-alt"></i>
      </span>
      <span class="edit" (click)="show=true">
        <i class="fa fa-wrench"></i>
      </span>
    </span>
  </li>
  <li id="drag-item">
    <i class="fa fa-arrows-alt pr-5" style="color:#43A047"></i>
    <span id="drag-item-text">Drag Item Label</span>
  </li>
</ul>

<h2>.list</h2>
<ul class="list list-col2">
  <li *ngFor="let list of lists">
    <span class="label">
      <span *ngIf="list.required=='true'" class="required">*</span>
      {{list.label}}
    </span>
    <span class="content">
      <span *ngIf="list.content.type=='text'"><input type="text" class="input input-xs" [(ngModel)]="list.content.text"  [disabled]="list.readonly=='true'"></span>
      <select *ngIf="list.content.type=='select'" name="" id="" class="select select-xs" [disabled]="list.readonly=='true'">
        <option value="" *ngFor="let option of list.content.options" [selected]="option==list.content.selected">{{option}}</option>
      </select>
    </span>
  </li>
</ul>
<div class="pt-5 text-center">
  <button class="btn btn-red btn-sm"><i class="fa fa-save"></i> Save</button>
  <button class="btn btn-sm"><i class="fa fa-times"></i> Cancel</button>
</div>

<div class="popup popup-transparent" *ngIf="show">
  <div class="popup-content">
    <div class="popup-box">
      <div class="popup-header">
        <h2 class="title">Property Setting</h2>
        <span class="action">
          <a class="btn btn-icon btn-red">
            <i class="icon fa fa-save"></i>
          </a>
          <a class="btn btn-icon">
            <i class="icon fa fa-times" (click)="show= false"></i>
          </a>
        </span>
      </div>
      <div class="popup-body">
        <div class="row">
          <div class="col-3 text-right">Label</div>
          <div class="col-9">
            <span class="checkbox checkbox-yellow">
              <input type="checkbox" checked>
              <label>Readonly</label>
            </span>
            <span class="checkbox checkbox-red">
              <input type="checkbox" checked>
              <label>Required</label>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>