<div class="panel">
  <div class="panel-header">
    <h2>.input</h2>
    <div class="action">

    </div>
  </div>
  <div class="panel-body">
    <div>
      <h2>.input</h2>
      <input class="input input-xs" type="text" placeholder=".input.input-xs">
      <input class="input input-sm" type="text" placeholder=".input.input-sm">
      <input class="input" type="text" placeholder=".input">
      <input class="input input-lg" type="text" placeholder=".input.input-lg">
    </div>
    <div>
      <h2>.input-group > .input + .btn</h2>
      <span class="input-group">
        <input class="input input-xs" type="text" placeholder=".input.input-xs"><button class="btn btn-xs">.btn</button>
      </span>
      <span class="input-group">
        <input class="input input-sm" type="text" placeholder=".input.input-sm"><button class="btn btn-sm">.btn</button>
      </span>
      <span class="input-group">
        <input class="input" type="text" placeholder=".input"><button class="btn">.btn</button>
      </span>
      <span class="input-group">
        <input class="input input-lg" type="text" placeholder=".input.input-lg"><button class="btn btn-lg">.btn</button>
      </span>
    </div>
    <div>
      <h2>.input-group > .btn + .input</h2>
      <span class="input-group">
        <button class="btn btn-xs">.btn</button><input class="input input-xs" type="text" placeholder=".input.input-xs">
      </span>
      <span class="input-group">
        <button class="btn btn-sm">.btn</button><input class="input input-sm" type="text" placeholder=".input.input-sm">
      </span>
      <span class="input-group">
        <button class="btn">.btn</button><input class="input" type="text" placeholder=".input">
      </span>
      <span class="input-group">
        <button class="btn btn-lg">.btn</button><input class="input input-lg" type="text" placeholder=".input.input-lg">
      </span>
    </div>
    <div>
      <h2>.input-group >.input + .btn + .input</h2>
      <span class="input-group">
        <button class="btn">.btn</button><input class="input" type="text" placeholder=".input"><button class="btn">.btn</button>
      </span>
    </div>
    <div>
      <h2>.input-block</h2>
      <input type="text" class="input input-block" laceholder=".input.input-block">
    </div>
    <div>
        <h2>.input.input-color</h2>
        <span class="input-group mb-10">
          <input class="input input-red" type="text" placeholder=".input"><button class="btn btn-red">.btn</button>
        </span>
        <span class="input-group mb-10">
          <input class="input input-orange" type="text" placeholder=".input"><button class="btn btn-orange">.btn</button>
        </span>
        <span class="input-group mb-10">
          <input class="input input-yellow" type="text" placeholder=".input"><button class="btn btn-yellow">.btn</button>
        </span>
        <span class="input-group mb-10">
          <input class="input input-lightgreen" type="text" placeholder=".input"><button class="btn btn-lightgreen">.btn</button>
        </span>
        <span class="input-group mb-10">
          <input class="input input-green" type="text" placeholder=".input"><button class="btn btn-green">.btn</button>
        </span>
        <span class="input-group mb-10">
          <input class="input input-lightblue" type="text" placeholder=".input"><button class="btn btn-lightblue">.btn</button>
        </span>
        <span class="input-group mb-10">
          <input class="input input-blue" type="text" placeholder=".input"><button class="btn btn-blue">.btn</button>
        </span>
        <span class="input-group mb-10">
          <input class="input input-purple" type="text" placeholder=".input"><button class="btn btn-purple">.btn</button>
        </span>
      </div>       
  </div>
</div>
