<div class="panel">
  <div class="panel-header">
    <h2>Inputs</h2>
    <div class="action">

    </div>
  </div>
  <div class="panel-body">
    <div>
      <h2>.input</h2>
      <input class="input input-xs" type="text" placeholder="input input-xs">
      <input class="input input-sm" type="text" placeholder="input input-sm">
      <input class="input" type="text" placeholder="input">
      <input class="input input-lg" type="text">
    </div>
    <div>
      <h2>.btn-group > .input + .btn</h2>
      <span class="btn-group">
        <input class="input input-xs" type="text"><button class="btn btn-xs">button</button>
      </span>
      <span class="btn-group">
        <input class="input input-sm" type="text"><button class="btn btn-sm">button</button>
      </span>
      <span class="btn-group">
        <input class="input" type="text"><button class="btn">button</button>
      </span>
      <span class="btn-group">
        <input class="input input-lg" type="text"><button class="btn btn-lg">button</button>
      </span>
    </div>
    <div>
      <h2>.btn-group > .btn + .input</h2>
      <span class="btn-group">
        <button class="btn btn-xs">button</button><input class="input input-xs" type="text">
      </span>
      <span class="btn-group">
        <button class="btn btn-sm">button</button><input class="input input-sm" type="text">
      </span>
      <span class="btn-group">
        <button class="btn">button</button><input class="input" type="text">
      </span>
      <span class="btn-group">
        <button class="btn btn-lg">button</button><input class="input input-lg" type="text">
      </span>
    </div>
    <div>
      <h2>.btn-group >.input + .btn + .input</h2>
      <span class="btn-group">
        <button class="btn btn-purple">button</button><input class="input input-purple" type="text"><button class="btn btn-purple">button</button>
      </span>
    </div>
    <div>
      <h2>.input-block</h2>
      <input type="text" class="input input-block">
    </div>
  </div>
</div>