<div class="panel">
  <div class="panel-header">
    <h2>Attachments</h2>
    <div class="action">
      <button class="btn btn-xs btn-white btn-shadow btn-circle ml-5">Attach File</button>
    </div>
  </div>
  <div class="panel-body">
    <div class="mlr-n15">
      <table class="table-full table-striped table-hover">
        <thead>
          <tr>
            <th>Action</th>
            <th>Title</th>
            <th>Type</th>
            <th>Uploaded Date</th>
            <th>Created By</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attachment of attachments">
            <td>
              <button class="btn btn-xs">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-xs btn-red">
                <i class="fa fa-trash"></i>
              </button>
            </td>
            <td>
              <a>{{attachment.title}}</a>
            </td>
            <td>{{attachment.type}}</td>
            <td>{{attachment.uploadedDate}}</td>
            <td>{{attachment.createdBy}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <div>Showing 1 to 10 of 57 entries</div>
      <ul>
        <li class="arrow">
          <a>«</a>
        </li>
        <li class="active">
          <a>1</a>
        </li>
        <li>
          <a>2</a>
        </li>
        <li>
          <a>3</a>
        </li>
        <li>
          <a>4</a>
        </li>
        <li>
          <a>5</a>
        </li>
        <li class="arrow">
          <a>»</a>
        </li>
      </ul>
    </div>
  </div>
</div>