<setup-nav></setup-nav>
<div class="with-sidebar-left">
  <div class="panel">
    <div class="panel-header">
      <h2>Users</h2>
      <div class="action">
        <button class="btn btn-xs btn-circle" [routerLink]="['/setup/company/user-detail','0']">
          <i class="fa fa-plus"></i> Add New User
        </button>
      </div>
    </div>
    <div class="panel-body">
      <div class="input-line-group">
        <span class="input-icon">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="input-line input-block" onkeyup="this.setAttribute('value', this.value);" value="">
        <span class="underline">Search Users</span>
      </div>
      <table class="table-full table-striped table-hover">
        <thead>
          <tr>
            <th>Action</th>
            <th *ngFor="let field of fields">{{field.text}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of json">
            <td>
              <i class="fa fa-edit pr-5" [routerLink]="['/setup/company/user-detail',user.id]"></i>
              <i class="fa fa-trash-alt text-red"></i>
            </td>
            <td *ngFor="let field of fields">{{user[field.jsonKey]}}</td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <div>Showing 1 to 10 of 57 entries</div>
        <ul>
          <li class="arrow">
            <a>«</a>
          </li>
          <li class="active">
            <a>1</a>
          </li>
          <li>
            <a>2</a>
          </li>
          <li>
            <a>3</a>
          </li>
          <li>
            <a>4</a>
          </li>
          <li>
            <a>5</a>
          </li>
          <li class="arrow">
            <a>»</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>