<setup-nav></setup-nav>
<div class="with-sidebar-left">
  <div class="panel border-orange">
    <div class="panel-header">
      <h2>Email Campaigns</h2>
      <div class="action">        
        <button class="btn btn-orange btn-xs btn-circle" routerLink="/setup/email/edit-campaigns">
          <i class="fa fa-plus"></i> New Campaign
        </button>
        <button class="btn btn-xs btn-circle" routerLink="/setup/email/subscriber-list">
          <i class="fa fa-edit"></i> Subscriber Lists
        </button>
        <button class="btn btn-xs btn-circle" routerLink="/setup/email/unsubscribers">
          <i class="fa fa-users"></i> Unsubscriber List
        </button>
      </div>
    </div>
    <!-- Search User -->
    <div class="panel-body mt-10">
      <div class="row">
        <table class="table-full table-striped table-hover">
          <thead>
            <tr>
              <th width=50></th>
              <th>Campaign Name</th>
              <th>Subscriber List</th>
              <th>Type</th>
              <th>Created Date</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Created By</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let campaign of campaigns">
              <td>
                <i class="fa fa-edit text-orange" routerLink="/setup/email/edit-campaigns"></i>
                <i class="fa fa-trash-alt"></i>
              </td>
              <td class="text-orange cursor-pointer" routerLink="/setup/email/edit-campaigns">{{campaign.name}}</td>
              <td class="text-orange cursor-pointer" routerLink="/setup/email/subscribers">{{campaign.subscriber}}</td>
              <td>{{campaign.type}}</td>
              <td>{{campaign.createdDate}}</td>
              <td>{{campaign.startDate}}</td>
              <td>{{campaign.endDate}}</td>
              <td>{{campaign.createdBy}}</td>
              <td>{{campaign.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>