<div class="panel">
  <div class="panel-header">
    <h2>Task History</h2>
  </div>
  <div class="panel-body">
    <div class="mlr-n15">
      <table class="table-full table-striped table-hover">
        <thead>
          <tr>
            <th width=60>Action</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Due Time</th>
            <th>Last Modified Date/Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>
              <i class="fa fa-edit"></i>
              <i class="fa fa-trash-alt text-red"></i>
            </td>
            <td>
              <a>{{task.subject}}</a>
            </td>
            <td>{{task.status}}</td>
            <td>{{task.dueDate}}</td>
            <td>{{task.dueTime}}</td>
            <td>{{task.lastModified}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>