<div class="panel">
  <div class="panel-header">
    <h2>Buttons</h2>
    <small>Use class name to get different style</small>
    <div class="action">

    </div>
  </div>
  <div class="panel-body">
    <div class="mtb-15">
      <h2>Different Size</h2>
      <button class="btn btn-xs">btn btn-sm</button>
      <button class="btn btn-sm">btn btn-sm</button>
      <button class="btn">btn</button>
      <button class="btn btn-lg">btn btn-lg</button>
    </div>
    <div class="mtb-15">
      <h2>Different Color</h2>
      <button class="btn">btn</button>
      <button class="btn btn-white">btn btn-white</button>
      <button class="btn btn-red">btn btn-red</button>
      <button class="btn btn-orange">btn btn-orange</button>
      <button class="btn btn-yellow">btn btn-yellow</button>
      <button class="btn btn-lightgreen">btn btn-lightgreen</button>
      <button class="btn btn-green">btn btn-green</button>
      <button class="btn btn-lightblue">btn btn-lightblue</button>
      <button class="btn btn-blue">btn btn-blue</button>
      <button class="btn btn-purple">btn btn-purple</button>
    </div>
    <div class="mtb-15">
      <h2>Disabled</h2>
      <button disabled class="btn">btn</button>
      <button disabled class="btn btn-white">btn btn-white</button>
      <button disabled class="btn btn-red">btn btn-red</button>
      <button disabled class="btn btn-orange">btn btn-orange</button>
      <button disabled class="btn btn-yellow">btn btn-yellow</button>
      <button disabled class="btn btn-lightgreen">btn btn-lightgreen</button>
      <button disabled class="btn btn-green">btn btn-green</button>
      <button disabled class="btn btn-lightblue">btn btn-lightblue</button>
      <button disabled class="btn btn-blue">btn btn-blue</button>
      <button disabled class="btn btn-purple">btn btn-purple</button>
    </div>
    <div class="mtb-15">
      <h2>btn-circle</h2>
      <button class="btn btn-circle">btn btn-circle</button>
      <button class="btn btn-red btn-circle">btn btn-red btn-circle</button>
      <button class="btn btn-orange btn-circle">btn btn-orange btn-circle</button>
      <button class="btn btn-yellow btn-circle">btn btn-yellow btn-circle</button>
      <button class="btn btn-lightgreen btn-circle">btn btn-lightgreen btn-circle</button>
      <button class="btn btn-green btn-circle">btn btn-green btn-circle</button>
    </div>
    <div class="mtb-15">
      <h2>btn-shadow</h2>
      <button class="btn btn-shadow">btn btn-shadow</button>
      <button class="btn btn-shadow btn-white">btn btn-shadow btn-white</button>
    </div>
    <div class="mtb-15">
      <h2>With Icon</h2>
      <button class="btn btn-blue">
        <i class="fa fa-edit"></i> Edit</button>
      <button class="btn btn-lightgreen">
        <i class="fa fa-save"></i> Save</button>
      <button class="btn btn-orange">
        <i class="fa fa-times"></i> Cancel</button>
      <button class="btn btn-red">
        <i class="fa fa-trash-alt"></i> Delete</button>
    </div>
    <div class="mtb-15">
      <h2>btn btn-color btn-icon > .icon</h2>
      <a class="btn btn-icon">
        <i class="icon fa fa-search"></i>
      </a>
      <a class="btn btn-blue btn-icon">
        <i class="icon fa fa-edit"></i>
      </a>
      <a class="btn btn-lightgreen btn-icon">
        <i class="icon fa fa-save"></i>
      </a>
      <a class="btn btn-orange btn-icon">
        <i class="icon fa fa-times"></i>
      </a>
      <a class="btn btn-red btn-icon">
        <i class="icon fa fa-trash-alt"></i>
      </a>
      <div class=".clearfix"></div>      
    </div>
    <div class="mtb-15">
      <h2>btn-block</h2>
      <button class="btn btn-block">btn btn-block</button>
    </div>
  </div>
</div>