<div class="panel">
  <div class="panel-header">
    <h2>Email Sent</h2>
    <div class="action">
      <button class="btn btn-xs btn-shadow btn-circle ml-5" routerLink="/setup/email">New Email</button>
    </div>
  </div>

  <div class="panel-body">
    <div class="mlr-n15">
      <table class="table-full table-striped table-hover">
        <thead>
          <tr>
            <th width=60>Action</th>
            <th>Subject</th>
            <th>Date Sent</th>
            <th>Date Open</th>
            <th># Times Opened</th>
            <th>Last Open</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let email of emails">
            <td>
              <i class="fa fa-edit"></i>
              <i class="fa fa-trash-alt"></i>
            </td>
            <td>
              <a>{{email.subject}}</a>
            </td>
            <td>{{email.dateSent}}</td>
            <td>{{email.dateOpen}}</td>
            <td>{{email.times}}</td>
            <td>{{email.lastOpen}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
        <app-pagination></app-pagination>
    </div>
  </div>
</div>