<setup-nav></setup-nav>
<div class="with-sidebar-left">
  <div class="panel border-green">
    <div class="panel-header">
      <h2>Page Layout Assignment</h2>
    </div>
    <div class="panel-body">
      <h2 class="mt-15">
        <span>Departments</span>
        <span class="pull-right">Page Layout</span>
      </h2>
      <div class="row mb-15">
        <div class="mr-15">
                  <app-leads-page-layout-assignment-callback [json]="organisation">
        </app-leads-page-layout-assignment-callback>
        </div>

      </div>
      <div class="mb-15">
        <button class="btn btn-green"><i class="fa fa-save"></i> Save</button>
        <button class="btn"><i class="fa fa-times"></i> Cancel</button>
      </div>
    </div>
  </div>
</div>